.v-chip {
  max-width: calc(100% - 8px);

  .v-chip__content {
    position: relative;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block!important;
    line-height: 32px;
  }

  &.v-chip--removable {
    .v-chip__content {
      padding-right: 30px;
    }
  }

  .v-chip__close {
    position: absolute;
    right: 4px;
    top: 6px;
  }
}
