.v-carousel {
    .v-btn {
        background-color: $primary;
        transition: $transition;

        i {
            transition: $transition;
        }

        &:hover i {
            color: $primary!important;
        }
    }
}
