.tour-place {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas:
    'title title title'
    'text text text'
    'hours rating actions'
    'photos photos photos';
  grid-column-gap: 30px;

  &__block {
    padding: 20px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #eee;
    background-color: #fff;
  }

  &__wrapper {
    position: relative;

    .tour-place__block {
      position: absolute;
      z-index: 2;
      width: 100%;
      left: 0;
      bottom: -180px;

      @media (max-width: 767px) {
        position: static;
        margin: 15px 0;
      }
    }
  }

  &__title {
    grid-area: title;
    font-size: 20px;
    color: $primary;
    font-weight: bold;
  }

  &__text {
    grid-area: text;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    color: $gray;
  }

  &__hours {
    grid-area: hours;
    align-self: center;
    padding: 10px 0;
    color: $gray;

    span {
      font-weight: 600;
      margin-right: 5px;
    }
  }

  &__rating {
    grid-area: rating;
    align-self: center;
    padding: 10px 0;
    color: $gray;
  }

  &__actions {
    grid-area: actions;
    align-self: center;
    padding: 10px 0;

    .v-btn {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__photos {
    grid-area: photos;
    border-top: 1px solid #eee;
    padding-top: 20px;
  }

  &__comments {
    grid-area: comments;
    padding-top: 20px;
    max-height: 300px;
    overflow-y: scroll;

    .v-list--three-line .v-list__tile {
      height: auto!important;
    }
  }

  &__view {
    position: absolute;
    right: 20px;
    top: 20px;

    .v-icon {
      border-radius: 50%;
      background-color: rgb(124, 124, 124);
      color: #fff;
      font-size: 20px;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
    }
  }

  &.tour-place-photo {
    grid-template-columns: 200px 1fr auto auto;
    grid-template-areas:
      'photos title title title'
      'photos text text text'
      'photos hours rating actions'
      'comments comments comments comments';
    grid-column-gap: 20px;

    .tour-place__photos {
      padding: 0;
      margin: -20px 0 -20px -20px;
    }

    .tour-place__text {
      margin-bottom: 10px;
    }

    .tour-place__actions,
    .tour-place__hours,
    .tour-place__rating {
      padding: 0;
      align-self: center;
    }

    .tour-place__actions {
      .v-btn {
        margin: 0;
      }
    }

    .slider-img-single {
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    @media (max-width: 1499px) {
      grid-template-areas:
        'photos title title title'
        'photos text text text'
        'hours hours rating actions'
        'comments comments comments comments';

      .tour-place__photos {
        margin: 0 0 5px;
      }

      .tour-place__title {
        font-size: 18px;
      }

      .tour-place__text {
        font-size: 14px;
        line-height: 20px;
        padding-top: 5px;
        margin-bottom: 5px;
      }

      .tour-place__hours {
        font-size: 14px;
      }

      .tour-place__rating .v-icon {
        font-size: 20px;
      }

      .slider-img-single {
        min-height: 140px;
      }
    }

    @media (max-width: 991px) {
      grid-template-areas:
        'photos photos'
        'title title'
        'text text'
        'hours hours'
        'rating actions'
        'comments comments';
      grid-column-gap: 20px;
      grid-template-columns: auto 1fr;
    }
  }

  @media (max-width: 480px) {
    grid-template-areas:
      'photos'
      'title'
      'text'
      'hours'
      'rating'
      'actions'
      'comments';
    grid-column-gap: 20px;
    grid-template-columns: 100%;

    &__block {
      padding: 0 10px 10px;
    }

    &__hours {
      justify-self: center;
      text-align: left;

      span {
        display: block;
      }
    }

    &__rating {
      justify-self: center;
      padding: 0;
    }

    &__actions {
      justify-self: center;

      .v-btn {
        margin: 0;
      }
    }
  }
}

.tour-place__photos {
  position: relative;
  padding-left: 60px;
  padding-right: 60px;

  .swiper-button-next,
  .swiper-button-prev {
    opacity: 1!important;
    margin: 0!important;
    position: absolute!important;
    top: calc(50% + 10px - 20px);
    background-image: none;

    .v-icon {
      font-size: 40px!important;
    }

    &:hover {

    }
  }

  .swiper-button-prev {
    left: 0px!important;
  }

  .swiper-button-next {
    right: 0px!important;
  }

  .slider-img {
    height: 140px;
    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &-zoom {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: $transition;
      z-index: 2;
    }

    .slider-img-hover {
      transition: $transition;
      flex-basis: 0;
      flex-grow: 1;
    }

    &:hover {
      .slider-img-hover {
        background-color: rgba(0, 0, 0, 0.7);
      }

      .slider-img-zoom {
        opacity: 1;
      }
    }

    &-label {
      box-sizing: border-box;
      justify-self: flex-end;
      width: 100%;
      font-size: 14px;
      color: #fff;
      line-height: 24px;
      padding: 0 10px;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }


  @media (max-width: 480px) {
    padding: 0;
    border: 0;
    margin: 0 -10px 10px;

    .swiper-button-prev {
      left: 10px!important;
    }

    .swiper-button-next {
      right: 10px!important;
    }

    .slider-places {
      .slider-img {
        height: 60vw;
      }
    }
  }
}
