.routes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.route {
  display: grid;
  grid-template-columns: 30px minmax(240px, 420px);
  grid-template-areas:
    'index title'
    'dots info';
  grid-gap: 10px 20px;
  color: rgb(51, 51, 51);

  &__index {
    grid-area: index;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
  }

  &__title {
    grid-area: title;
    align-self: center;
    font-weight: 600;
  }

  &:not(:last-child) {
    .route__dots {
      background: {
        position: center top;
        repeat: repeat-y;
        image: url("/images/dot.svg");
      };
    }
  }

  &__info {
    grid-area: info;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 10px auto 1fr 40px;
    grid-template-areas:
      '. title title time'
      '. transport transport time'
      '. hours cost time'
      '. text text time';
    grid-gap: 10px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border: {
        style: solid;
        width: 0 8px 8px;
        color: #fff transparent;
      };
      top: -8px;
      left: calc(15px - 8px);
    }

    &--title {
      grid-area: title;
      padding-top: 10px;
      font-weight: 600;
    }

    &--transport {
      grid-area: transport;
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
    }

    &--hours {
      grid-area: hours;
      font-size: 14px;
      color: rgb(60, 60, 60);
      align-self: center;
    }

    &--cost {
      grid-area: cost;
      color: $gray;
      align-self: center;
    }

    &--text {
      grid-area: text;
      padding-bottom: 10px;
      font-size: 14px;
      color: $gray;
    }

    &--time {
      padding: 15px 0;
      grid-area: time;
      color: #fff;
      background-color: #009ada;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: bold;

      .v-icon {
        font-size: 30px;
        margin-bottom: 5px;
      }
    }
  }

  @media (max-width: 480px) {
    grid-gap: 20px 15px;

    grid-template-areas:
      'index title'
      'info info';

    &__dots {
      display: none;
    }

    &__info {
      grid-template-columns: 0 auto 1fr 40px;
    }
  }
}

.transport {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 3px 10px 3px 0;

  .v-icon {
    margin-right: 3px;
    font-size: 20px;
  }

  &__time {
    color: $gray;
    line-height: 20px;
    height: 20px;

    span {
      color: $text-color;
      font-weight: bold;
    }
  }


  &__number {
    border-radius: 2px;
    background-color: $secondary;
    margin-left: 4px;
    font-weight: bold;
    padding: 0 2px;
    line-height: 20px;
    height: 20px;
  }
}
