.tour-preview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'gallery info'
    'gallery places'
    'gallery details';
  grid-column-gap: 30px;
  padding: 20px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #eee;
  position: relative;
  //background-color: #fff;

  &-wrapper {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;

    .tour-preview {
      box-shadow: none;
      border: 0;
    }
  }

  & + .tour-preview {
    margin-top: 41px;

    &:after {
      position: absolute;
      content: '';
      top: -21px;
      left: 20%;
      right: 20%;
      height: 1px;
      background-color: #eee;
      z-index: 2;
    }
  }

  &__gallery {
    grid-area: gallery;

    &--controls {
      font-weight: 600;
      height: 40px;
      margin-top: -40px;
      display: flex;
      align-items: center;
    }

    .v-responsive__content {
      display: flex;
      flex-wrap: wrap;

      .slider-img-label {
        align-self: flex-end;
        width: 100%;
        font-size: 14px;
        color: #fff;
        line-height: 35px;
        padding: 0 10px;
        background-color: rgba(#000, .7);
      }
    }

    .v-carousel__prev,
    .v-carousel__next {
      .v-btn i {
        font-size: 40px!important;
      }
    }

    .v-icon.delete-tour-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      border-radius: 50%;
      background-color: $danger;
      color: #fff;
      font-size: 20px;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      z-index: 2;
    }
  }

  &__info {
    grid-area: info;
    list-style: none;
    padding: 5px 0 20px;
    border-bottom: 1px solid #eee;
    margin: 0;

    li {
      display: flex;
      align-items: center;

      i.v-icon {
        color: #009ADA;
        margin-right: 5px;
      }

      span {
        font-weight: 400;
        margin-right: 5px;
      }

      & + li {
        margin-top: 15px;
      }
    }
  }

  &__places {
    grid-area: places;
    display: flex;
    padding: 10px 0;
    align-items: flex-start;

    span {
      flex: 0 0 auto;
      line-height: 24px;
      padding: 2px 10px;
      font-weight: 600;
    }

    ul {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 1px;
    }

    .place-item--active {
      background-color: $primary;
      color: #fff;
    }
  }

  &__details {
    grid-area: details;
    justify-self: flex-end;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
    grid-template-areas:
      'info'
      'gallery'
      'places'
      'details';
    box-shadow: none;
    border: 0;
    padding: 10px 0;
    font-size: 14px;

    & + .tour-preview {
      &:after {
        left: 0;
        right: 0;
      }
    }

    &__gallery {
      margin: 0 -15px;
    }

    &__info {
      padding: 0;
      border-bottom: 0;
    }

    &__places {
      display: block;
      padding: 0;

      span {
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    &__details {
      justify-self: center;
    }
  }
}

.place-label {
  padding: 5px 20px;
  background-color: #e5e5e5;
  line-height: 24px;
  border-radius: 36px;
  transition: all .3s;
  color: #333333;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background-color: #009ADA;
    color: #fff;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: -4px;
    list-style: none;

    > li {
      padding: 4px;
    }
  }
}
