<template>
    <div class="search-autofill">
        <div class="input-group">
            <input
                type="text"
                :placeholder="placeholder"
                v-model="query"
                class="form-control border-right-0"
                @keyup="search"
            >
            <span class="input-group-append">
                <button class="btn bg-blue" type="button" @click="reset">
                    {{ $t('general.word.cancel') }}
                </button>
            </span>
        </div>
        <ul v-if="suggestions.length" class="card-body">
            <li v-for="(suggestion, i) in suggestions" :key="i">
                <a
                    href="#"
                    @click.prevent="goToModel(suggestion)"
                    v-html="suggestion.label"
                ></a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
      props: {
        placeholder: {
          type: String,
          required: true,
        },
        pathToModel: {
          type: String,
          required: false,
        },
        searchPath: {
          type: String,
          required: true,
        },
      },

      data() {
        return {
          query: null,
          suggestions: [],
        };
      },

      methods: {
        search() {
          setTimeout(() => {
            if (!this.query) {
              this.suggestions = [];
            } else {
              axios.get(`${this.searchPath}?query=${this.query}`)
                .then((response) => {
                  this.suggestions = response.data;

                  _.each(this.suggestions, (suggestion) => {
                    suggestion.label = this.highlight(suggestion.label);
                  });
                }).catch(({ response: { data: { message } } }) => {
                  console.error(message);
                }
                );
            }
          }, 600);
        },

        goToModel(suggestion) {
          if (this.pathToModel) {
            location.href = _.replace(this.pathToModel, ':id', suggestion.value);
          } else {
            this.$emit('clickOnSuggestion', suggestion.value);
            this.query = suggestion.label.replace(/(<([^>]+)>)/ig, '');
            this.suggestions = [];
          }
        },

        reset() {
          this.query = null;
          this.suggestions = [];
          this.$emit('reset');
        },

        highlight(string) {
          const regex = new RegExp(this.query, 'gi');

          return string !== undefined
            ? string.replace(regex, (substring) => {
              return `<strong>${substring}</strong>`;
            })
            : '';
        },
      },
    };
</script>

<style lang="scss">
    .search-autofill {
        position: relative;
        min-width: 350px;

        ul {
            border: 1px solid #ddd;
            border-radius: 3px;
            position: absolute;
            left: 0;
            right: 0;
            top: calc(100% + 2px);
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: #fff;
            max-height: 250px;
            overflow: auto;
            z-index: 10;

            li a {
                padding: 5px 14px;
                transition: all .2s;
                display: block;

                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
</style>
