<template>
    <a :href="$r('admin.notification.index')"
       class="navbar-nav-link"
       :title="$t('notifications.index.title')"
    >
        <i class="icon-bubble-notification"></i>
        <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0" v-if="unreadNotificationsCount">
            {{ unreadNotificationsCount }}
        </span>
    </a>
</template>

<script>
    import { eventBus } from '../../app';

    export default {
      data() {
        return {
          unreadNotificationsCount: null,
        };
      },

      methods: {
        getUnreadNotificationsCount() {
          axios.get(
            Router.route('acp.notification.unread'),
          ).then(({ data }) => {
            this.unreadNotificationsCount = data.length;
          }).catch(({ response: { data: { errors } } }) => {
            notify.error(_.head(errors));
          });
        },
      },

      created() {
        this.getUnreadNotificationsCount();

        eventBus.$on('updateNotificationsCount', () => {
          this.getUnreadNotificationsCount();
        });
      },
    };
</script>

