@mixin placeholder() {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @content;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        @content;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        @content;
    }
    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }
}

@mixin position($top, $right: $top, $bottom: $top, $left: $right) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


@mixin qMax($max) {
    @media (max-width: $max) {
        @content;
    }
}

@mixin qMin($min) {
    @media (min-width: $min) {
        @content;
    }
}

@mixin qMinMax($min, $max) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin q-large() {
    @include qMax(1903px) {
        @content;
    }
}

@mixin q-medium() {
    @include qMax(1263px) {
        @content;
    }
}

@mixin q-small() {
    @include qMax(959px) {
        @content;
    }
}

@mixin q-extra-small() {
    @include qMax(599px) {
        @content;
    }
}
