// Bootstrap variables overrides;
$text-color: rgba(0,0,0,.7);
$primary: #009ada;
$danger: #da5844;
$secondary: #ff9419;

$border-radius: 3px;
$transition-d: .2s;
$transition: all $transition-d;

$gray-light: rgb(249, 249, 249);
$gray: rgb(140, 140, 140);

$border-color: $gray;
$bg-gray-light: $gray-light;

// JGrowl;
$jgrowl-width: 250px;
$jgrowl-height: 50px;
$jgrowl-backgroundColor: #000;
$jgrowl-color: #fff;
$jgrowl-fontSize: 13px;
$jgrowl-fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$jgrowl-opacity: .90;
$jgrowl-borderRadius: 0;
