<template>
    <div>
        <b-modal :id="modalName"
                 content-class="modal-custom"
                 hide-header
                 centered
                 hide-footer
                 size="lg"
        >
            <div class="close" @click="$bvModal.hide(modalName)">
                <span class="icon-cancel"></span>
            </div>
            <div class="modal-custom__text">
                <h3 v-if="title" v-html="title"></h3>
                <div class="mt-3 text-left" v-html="text"></div>
            </div>
            <b-button class="mt-3 btn" @click="$bvModal.hide(modalName)">
                {{ $t('general.word.ok') }}
            </b-button>
        </b-modal>
    </div>
</template>

<script>
    export default {
      props: {
        title: {
          type: String,
          default: null,
        },
        text: {
          type: String,
          default: null,
        },
      },

      data() {
        return {
          modalName: 'info',
        };
      },
    };
</script>
