<template>
  <section class="section">
    <div class="container">
      <div class="container-auth__top"></div>
      <div class="section-title-wrapper">
        <h1 class="container-auth__title h3 section-title">
          {{ $t('components.add_user.title') }}
        </h1>
      </div>
      <v-text-field
        :label="$t('components.add_user.email')"
        required
        type="email"
        v-model="models.email"
        :error-messages="errors.email ? errors.email : ''"
        @keyup="submitOnInput($event, 'addUserAction')"
      ></v-text-field>
      <div class="container-auth__flex">
        <v-btn
          :block="true"
          :large="true"
          color="primary mt-3"
          @click.prevent="addUserAction"
          :loading="loading"
          :disabled="loading"
          @click="loader = 'loading'"
        >
          {{ $t('components.add_user.btn') }}
        </v-btn>
      </div>
    </div>
  </section>
</template>

<script>
  import FormMixin from '../../mixins/form';
  import { mapGetters, mapActions } from 'vuex';

  export default {
    data() {
      return {
        show: {
          password: false,
        },
        models: {
          email: null,
        },
      };
    },

    mixins: [FormMixin],

    computed: {
      ...mapGetters([
        'user',
      ]),
    },

    methods: {
      addUserAction() {
        this.clearErrors();

        axios.post(
          Router.route('api.user.add'),
          this.models,
        ).then(({ data }) => {
          this.notifySuccess(
            this.$i18n.translate(
              'components.add_user.messages.added',
              { email: this.models.email }
            )
          );

          this.$router.push({ name: 'home' });
        }).catch(({ response: { data } }) => {
          if (data.errors) {
            this.errors = data.errors;
          }

          if (data.message) {
            this.notifyError(data.message);
          }
        }).finally(() => {
          this.stopLoader();
        });
      },

      ...mapActions([
        'notifySuccess',
        'notifyError',
      ]),
    },

    beforeRouteEnter(toRoute, fromRoute, next) {
      next((v) => {
        if (!v.user.is_admin) {
          v.$router.push({ name: 'home' });
        }
      });
    },
  };
</script>
