<template>
  <section
    class="section section-create"
    :class="[{'is-mobile': isMobile}, {'sidebar-open': layout.isSidebar}]">
    <!-- Sidebar -->
    <div class="section-create__sidebar">
      <div class="sidebar-toggler--wrapper">
        <v-btn
          fab
          dark
          small
          color="primary"
          class="sidebar-toggler"
          @click="toggleSidebar"
        >
          <i aria-hidden="true" class="v-icon material-icons theme--light" dark>chevron_right</i>
        </v-btn>
      </div>
      <div class="sidebar" v-touch:swipe.left="toggleSidebar">
        <!-- Sidebar Filters -->
        <div class="sidebar__item">
          <div class="sidebar__item--title section-title-wrapper">
            <h2 class="h3 section-title">
              {{ $t('components.build_tour.sidebar.filters.title') }}
            </h2>
            <v-switch
              v-if="currentLocation"
              v-model="sidebar.filters.useCurrentLocation"
              :mandatory="false"
              :label="$t('components.build_tour.sidebar.filters.use_current_location')"
            ></v-switch>
          </div>
          <div class="sidebar__item--body">
            <div class="filters__form">
              <!-- Where -->
              <div class="form-item">
                <div class="form-item__label">
                  {{ $t('components.build_tour.sidebar.filters.where') }}
                </div>
                <div class="form-item__field">
                  <v-text-field
                    v-model="sidebar.filters.city.name"
                    :placeholder="$t('components.build_tour.sidebar.filters.city')"
                    required
                    :disabled="sidebar.filters.useCurrentLocation"
                    browser-autocomplete="off"
                    id="filterCity"
                    class="mb-1"
                    :clearable="true"
                  ></v-text-field>
                </div>
              </div>
              <!-- Radius -->
              <!--<div class="form-item">-->
                <!--<div class="form-item__label">-->
                  <!--{{ $t('components.build_tour.sidebar.filters.radius') }}-->
                <!--</div>-->
                <!--<div class="form-item__field">-->
                  <!--<v-slider-->
                    <!--class="mt-3"-->
                    <!--min="1"-->
                    <!--:max="20"-->
                    <!--step="1"-->
                    <!--v-model="sidebar.filters.radius"-->
                    <!--thumb-label="always"-->
                    <!--:thumb-size="20"-->
                    <!--hint='km'-->
                    <!--persistent-hint-->
                  <!--&gt;</v-slider>-->
                <!--</div>-->
              <!--</div>-->
              <!-- Date -->
              <div class="form-item">
                <div class="form-item__label">
                  {{ $t('components.build_tour.sidebar.filters.when') }}
                </div>
                <div class="form-item__field">
                  <v-menu
                    v-model="sidebar.filters.datepicker"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                    class="column-2"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="sidebar.filters.date"
                      :label="$t('components.build_tour.sidebar.filters.date')"
                      append-icon="event"
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="sidebar.filters.date"
                      @input="sidebar.filters.datepicker = false"
                      :min="moment().format('YYYY-MM-DD')"
                    >
                    </v-date-picker>
                  </v-menu>
                </div>
              </div>
              <!-- Time from - to -->
              <div class="form-item">
                <div class="form-item__label"></div>
                <div class="form-item__field">
                  <!-- Time from -->
                  <v-menu
                    v-model="sidebar.filters.timepicker.from"
                    ref="timeFrom"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    :return-value.sync="sidebar.filters.time.from"
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                    class="column-2"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="sidebar.filters.time.from"
                      :label="$t('components.build_tour.sidebar.filters.time.from')"
                      append-icon="access_time"
                      readonly
                    ></v-text-field>
                    <v-time-picker
                      full-width
                      v-if="sidebar.filters.timepicker.from"
                      v-model="sidebar.filters.time.from"
                      @change="$refs.timeFrom.save(sidebar.filters.time.from)"
                    ></v-time-picker>
                  </v-menu>
                </div>
              </div>
              <div class="form-item">
                <div class="form-item__label"></div>
                <div class="form-item__field">
                  <!-- Time to -->
                  <v-menu
                    v-model="sidebar.filters.timepicker.to"
                    ref="timeTo"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    :return-value.sync="sidebar.filters.time.to"
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                    class="column-2"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="sidebar.filters.time.to"
                      :label="$t('components.build_tour.sidebar.filters.time.to')"
                      append-icon="access_time"
                      readonly
                    ></v-text-field>
                    <v-time-picker
                      full-width
                      v-if="sidebar.filters.timepicker.to"
                      v-model="sidebar.filters.time.to"
                      @change="$refs.timeTo.save(sidebar.filters.time.to)"
                    ></v-time-picker>
                  </v-menu>
                </div>
              </div>
              <!-- How (transport) -->
              <div class="form-item">
                <div class="form-item__label">
                  {{ $t('components.build_tour.sidebar.filters.how') }}
                </div>
                <div class="form-item__field">
                  <v-radio-group v-model="sidebar.filters.how" :mandatory="false">
                    <v-radio value="TRANSIT">
                      <template slot="label">
                        <div>
                          <i aria-hidden="true" class="v-icon material-icons theme--light primary--text">
                            {{ transportationModesMap.TRANSIT.icon }}
                          </i>
                          {{ $t(`common.transportation.${transportationModesMap.TRANSIT.key}`) }}
                        </div>
                      </template>
                    </v-radio>
                    <v-radio value="DRIVING">
                      <template slot="label">
                        <div>
                          <i aria-hidden="true" class="v-icon material-icons theme--light primary--text">
                            {{ transportationModesMap.DRIVING.icon }}
                          </i>
                          {{ $t(`common.transportation.${transportationModesMap.DRIVING.key}`) }}
                        </div>
                      </template>
                    </v-radio>
                    <v-radio value="WALKING">
                      <template slot="label">
                        <div>
                          <i aria-hidden="true" class="v-icon material-icons theme--light primary--text">
                            {{ transportationModesMap.WALKING.icon }}
                          </i>
                          {{ $t(`common.transportation.${transportationModesMap.WALKING.key}`) }}
                        </div>
                      </template>
                    </v-radio>
                    <v-radio value="BICYCLING">
                      <template slot="label">
                        <div>
                          <i aria-hidden="true" class="v-icon material-icons theme--light primary--text">
                            {{ transportationModesMap.BICYCLING.icon }}
                          </i>
                          {{ $t(`common.transportation.${transportationModesMap.BICYCLING.key}`) }}
                        </div>
                      </template>
                    </v-radio>
                  </v-radio-group>
                </div>
              </div>
              <!-- Start point -->
              <div class="form-item" v-show="isLocationSelected">
                <div class="form-item__label">
                  {{ $t('components.build_tour.sidebar.filters.start_from') }}
                </div>
                <div class="form-item__field flex xs12">
                  <v-radio-group v-model="sidebar.filters.from" :mandatory="false">
                    <v-radio
                      v-if="canUseCurrentLocationAsStart"
                      :label="$t('components.build_tour.sidebar.filters.use_current_location_start')"
                      value="current"
                    ></v-radio>
                    <v-radio :label="$t('components.build_tour.sidebar.filters.set_start_point')" value="set"></v-radio>
                  </v-radio-group>
                  <v-text-field
                    v-model="sidebar.filters.fromAddress"
                    :placeholder="$t('components.build_tour.sidebar.filters.type_from_address')"
                    id="filterFromAddress"
                    :clearable="true"
                  ></v-text-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sidebar Places -->
          <div id="placeFilters" class="sidebar__item">
          <div class="sidebar__item--title section-title-wrapper">
            <h2 class="h3 section-title">
              {{ $t('components.build_tour.sidebar.places.title') }}
            </h2>
            <v-switch
              v-if="sidebar.places.checked.length"
              v-model="sidebar.places.showOnlyChecked"
              :value="true"
              :mandatory="false"
              :label="$t('components.build_tour.sidebar.places.show_only_checked')"
            ></v-switch>
          </div>
          <div class="sidebar__item--body">
            <div class="places__form">
              <div class="places__field">
                <div class="places__label">
                  {{ $t('components.build_tour.sidebar.places.type') }}
                </div>
                <v-select
                  :items="sidebar.places.types.options"
                  v-model="sidebar.places.types.checked"
                  :multiple="true"
                  :placeholder="$t('components.build_tour.sidebar.places.place_type')"
                  :disabled="!isLocationSelected"
                ></v-select>
              </div>
              <div class="places__field mt-4" v-show="isLocationSelected">
                <div class="places__label">
                  {{ $t('components.build_tour.sidebar.places.search_by_name.label') }}
                </div>
                <v-text-field
                  v-model="sidebar.places.searchByName"
                  :label="$t('components.build_tour.sidebar.places.search_by_name.placeholder')"
                  placeholder=" "
                  id="searchPlaceByName"
                  :clearable="true"
                ></v-text-field>
              </div>
              <div class="places__field mt-4" v-if="sidebar.places.searchResults.length">
                <div class="places__label">
                  {{ $t('components.build_tour.sidebar.places.filter.title') }}
                </div>
                <v-text-field
                  v-model="sidebar.places.filterByName"
                  :label="$t('components.build_tour.sidebar.places.filter.label')"
                  :clearable="true"
                ></v-text-field>
              </div>
              <div class="places__field mt-4 mb-4" v-show="sidebar.places.searchResults.length > 1">
                <v-select
                  :items="sidebar.places.sort.options.rating"
                  v-model="sidebar.places.sort.value"
                  :label="$t('components.build_tour.sidebar.places.sort.tip')"
                  :clearable="true"
                ></v-select>
              </div>
              <v-chip
                v-for="(type, i) in sidebar.places.types.checked"
                :key="`place_type_${i}`"
                close
                @input="removePlaceType(type)"
                color="info"
                text-color="white"
                class="mb-2"
              >
                {{ $t(`components.build_tour.sidebar.places.types_options.${type}`) }}
              </v-chip>
              <template v-if="sidebar.places.checked.length">
                <div class="places__field places__label mt-1">
                  {{ $t('components.build_tour.sidebar.places.checked_places') }}
                </div>
                <v-chip
                  v-for="(place, i) in sidebar.places.checked"
                  :key="`place_${i}`"
                  close
                  @input="removePlace(place)"
                  color="info"
                  text-color="white"
                  class="mb-2"
                >
                  {{ place.title }}
                </v-chip>
              </template>
            </div>
            <div id="placesList" class="places__list">
              <place-preview
                v-for="(place, index) in sidebar.places.searchResults"
                v-if="place.is_visible"
                :key="index"
                :place="place"
                :index="index + 1"
                :class="[{'place-item--active': sidebar.places.preview === index}]"
                @preview="previewPlace(place, index)"
              >
                <template slot="checkbox">
                  <v-btn v-if="!isPlaceChecked(place)" fab small color="primary" @click.prevent="sidebar.places.checked.push(place)">
                    <i aria-hidden="true" class="v-icon material-icons theme--light">check</i>
                  </v-btn>
                  <v-btn v-else fab small color="error" @click.prevent="sidebar.places.checked.splice(getCheckedPlaceIndex(place), 1)">
                    <i aria-hidden="true" class="v-icon material-icons theme--light">close</i>
                  </v-btn>
                </template>
                <template slot="view">
                  <i
                    aria-hidden="true"
                    class="v-icon material-icons theme--light danger--bg clickable"
                    @click="removePlaceFromSearchResult(place)"
                  >
                    delete
                  </i>
                </template>
              </place-preview>
            </div>
          </div>
        </div>
        <!-- Sidebar Actions -->
        <div class="sidebar__actions">
          <v-btn
            class="mt-1 mb-1"
            color="secondary"
            :to="{ name: 'build-tour' }"
            :large="true"
            @click.prevent="saveTour"
          >
            {{ $t('components.build_tour.sidebar.generate') }}
          </v-btn>
        </div>
        <v-btn
          v-if="sidebar.places.searchResults.length > 10 && isMobile"
          dark
          small
          fab
          bottom
          right
          fixed
          color="primary"
          @click="scrollToAnchor('placeFilters')"
        >
          <i aria-hidden="true" class="v-icon material-icons theme--light">arrow_upward</i>
        </v-btn>
      </div>
    </div>
    <!-- Map -->
    <div class="section-create__map" v-if="isAuthenticated" v-touch:swipe.right="toggleSidebar">
      <GmapMap
        ref="buildTourMap"
        :options="map.options"
        :center="map.center"
        :zoom="map.zoom"
        class="google-map"
      >
        <GmapMarker
          :key="index"
          v-for="(place, index) in sidebar.places.searchResults"
          v-if="place.is_visible"
          :position="place.position"
          :title="place.title"
          :clickable="place.clickable"
          :animation="place.animation"
          :icon="place.icon"
          :draggable="place.draggable"
          @click="previewPlace(place, index)"
        />
        <GmapMarker
          v-if="sidebar.places.startPoint"
          :position="sidebar.places.startPoint.position"
          :title="sidebar.places.startPoint.title"
          :clickable="sidebar.places.startPoint.clickable"
          :animation="sidebar.places.startPoint.animation"
          :icon="map.startMarkerIconUrl"
          :draggable="sidebar.places.startPoint.draggable"
          @dragend="onMarkerDragEnd($event, sidebar.places.startPoint)"
        />
      </GmapMap>
    </div>
    <!-- Place Preview -->
    <transition name="fade">
      <div
        v-if="sidebar.places.preview !== null"
        :key="sidebar.places.preview"
        class="section-create__place-preview"
      >
        <div class="place-preview">
          <place
            :place="sidebar.places.searchResults[sidebar.places.preview]"
            :index="sidebar.places.preview + 1"
          >
            <slot name="check-place">
              <v-btn
                v-if="!isPlaceChecked(sidebar.places.searchResults[sidebar.places.preview])"
                depressed
                color="primary"
                block
                @click.prevent="sidebar.places.checked.push(sidebar.places.searchResults[sidebar.places.preview])"
              >
                {{ $t('components.build_tour.sidebar.places.add_to_tour') }}
              </v-btn>
              <v-btn
                v-else
                depressed
                color="error"
                block
                @click.prevent="sidebar.places.checked.splice(getCheckedPlaceIndex(sidebar.places.searchResults[sidebar.places.preview]), 1)"
              >
                {{ $t('components.build_tour.sidebar.places.remove_from_tour') }}
              </v-btn>
            </slot>
          </place>
          <div class="close-place">
            <v-btn
              color="primary"
              fab
              small
              dark
              @click="closePlacePreview(sidebar.places.searchResults[sidebar.places.preview])"
            >
              <i aria-hidden="true" class="v-icon material-icons theme--light">close</i>
            </v-btn>
          </div>
        </div>
        <div class="place-backdrop" @click="sidebar.places.preview = null"></div>
      </div>
    </transition>
    <!-- Build Tour Loader -->
    <loader :state="loaderState"></loader>
  </section>
</template>

<script>
  import Place from '../partials/Place';
  import PlacePreview from '../partials/PlacePreview';
  import Loader from '../partials/Loader';
  import PageHelper from '../../mixins/page';
  import { mapGetters, mapActions } from 'vuex';
  import moment from 'moment';

  export default {
    components: {
      Place,
      PlacePreview,
      Loader,
    },

    mixins: [PageHelper],

    data() {
      return {
        moment,
        layout: {
          isSidebar: true,
        },
        loaderState: false,
        placesService: null,
        directionsService: null,
        map: {
          googleObject: {},
          center: { lat: -34.397, lng: 150.644 },
          zoom: 11,
          defaultZoom: 13,
          singlePlaceZoom: 21,
          maxUseCurrentLocationDistance: 10000,
          defaultMarkerIconUrl: '/assets/client/images/marker_unchecked.svg',
          checkedMarkerIconUrl: '/assets/client/images/marker_checked.svg',
          startMarkerIconUrl: '/assets/client/images/marker_start.svg',
          options: {
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            disableDefaultUi: false,
          },
        },
        sidebar: {
          filters: {
            useCurrentLocation: false,
            date: null,
            datepicker: false,
            how: null,
            from: null,
            fromAddress: null,
            time: {
              from: null,
              to: null,
            },
            timepicker: {
              from: false,
              to: false,
            },
            radius: 20,
            city: {
              id: null,
              name: null,
              coordinates: null,
            },
          },
          places: {
            sort: {
              value: {
                type: null,
                direction: null,
              },
              options: {},
            },
            defaultResultsLength: 20,
            minAllowed: 3,
            maxAllowed: 10,
            startPoint: null,
            types: {
              available: [
                'amusement_park',
                'aquarium',
                'art_gallery',
                'bakery',
                'bar',
                'cafe',
                'church',
                'city_hall',
                'courthouse',
                'hindu_temple',
                'library',
                'local_government_office',
                'mosque',
                'movie_theater',
                'museum',
                'park',
                'stadium',
                'synagogue',
                'university',
                'zoo',
              ],
              checked: [],
              options: [],
            },
            showOnlyChecked: false,
            filterByName: null,
            searchByName: null,
            preview: null,
            checked: [],
            searchResults: [],
            searchResultsDump: {},
          },
          autoCompleteBoundRadius: 60000,
          establishedAutoCompletes: [],
        },
      };
    },

    watch: {
      currentLocation(value) {
        if (value) {
          this.goToLocation(value);
        }
      },

      isLocationSelected(value) {
        if (value) {
          _.each(['searchFromAddressAutocomplete', 'searchPlaceByNameAutocomplete'], (handler) => {
            if (_.indexOf(this.sidebar.establishedAutoCompletes, handler) === -1) {
              _.delay(() => {
                this[handler]();
              }, 500);
            }
          });
        }
      },

      'sidebar.filters.useCurrentLocation': {
        handler(flag) {
          this.resetLocation();

          if (flag) {
            this.sidebar.filters.city.coordinates = this.currentLocation;
            this.placesService.textSearch({
              location: this.currentLocation,
              type: 'locality',
            }, (results, status) => {
              if (status === google.maps.places.PlacesServiceStatus.OK && results.length) {
                const city = _.head(results);

                this.sidebar.filters.city.id = city.place_id;
                this.sidebar.filters.city.name = city.name;

                this.setPlacesDumpEmptyGroup();
              }
            });

            this.goToLocation(this.currentLocation);
          }
        },
        deep: true,
      },

      'sidebar.filters.fromAddress': {
        handler(value) {
          if (!value && this.sidebar.filters.from === 'address') {
            this.sidebar.places.startPoint = null;
          }
        },
        deep: true,
      },

      'sidebar.filters.city.name': {
        handler(name) {
          if (!name) {
            this.resetPlacesSearch();
          }
        },
        deep: true,
      },

      'sidebar.filters.from': {
        handler(value) {
          if (value) {
            this.setStartMarker(value);

            if (value === 'set') {
              this.sidebar.filters.fromAddress = null;
            }
          } else {
            this.sidebar.places.startPoint = null;
          }
        },
        deep: true,
      },

      'sidebar.places.searchResults': {
        handler(places) {
          if (!places.length) {
            this.sidebar.places.preview = null;
          }
        },
        deep: true,
      },

      'sidebar.places.preview': {
        handler(value) {
          if (value === null) {
            this.stopMarkersAnimation();
            this.zoomMap(this.map.defaultZoom);
          }
        },
        deep: true,
      },

      'sidebar.places.showOnlyChecked': {
        handler(flag) {
          this.showOnlyCheckedPlaces(flag);
        },
        deep: true,
      },

      'sidebar.places.checked': {
        handler(places) {
          const checkedPlacesIds = _.map(places, (place) => {
            return place.id;
          });

          _.each(this.sidebar.places.searchResults, (place) => {
            place.icon = _.indexOf(checkedPlacesIds, place.id) !== -1
              ? this.map.checkedMarkerIconUrl
              : this.map.defaultMarkerIconUrl;
          });

          if (!places.length) {
            this.sidebar.places.showOnlyChecked = false;
          }

          // Used only to hide unchecked markers if we set 'show only checked'.
          // this.showOnlyCheckedPlaces(this.sidebar.places.showOnlyChecked);
        },
        deep: true,
      },

      'sidebar.places.types.checked': {
        handler(newTypes, oldTypes) {
          this.loaderState = true;

          // Added type.
          if (newTypes.length > oldTypes.length) {
            this.searchPlaces();
          } else { // Removed type.
            const removedType = _.head(_.difference(oldTypes, newTypes));

            this.sidebar.places.searchResults = _.filter(
              this.sidebar.places.searchResults,
              (place) => {
                return place.type !== removedType;
              }
            );

            this.sidebar.places.checked = _.filter(
              this.sidebar.places.checked,
              (place) => {
                return place.type !== removedType;
              }
            );

            this.sortPlaces();

            this.loaderState = false;
          }

          // Removed all types.
          if (!newTypes.length) {
            this.sidebar.places.searchResults = _.filter(
              this.sidebar.places.searchResults,
              (place) => {
                return !place.searched_by_name;
              }
            );
            this.loaderState = false;
          }
        },
        deep: true,
      },

      'sidebar.places.filterByName': {
        handler(value) {
          _.each(this.sidebar.places.searchResults, (place) => {
            if (value !== null) {
              this.sidebar.places.preview = null;
              place.is_visible = place.title.search(new RegExp(value, 'i')) !== -1;
            } else {
              place.is_visible = true;
            }
          });
        },
      },

      'sidebar.places.sort.value': {
        handler(value) {
          if (value) {
            this.sortPlaces(value);
          } else {
            this.resetSortPlaces();
          }
        },
      },
    },

    computed: {
      noLocationSelected() {
        return !this.sidebar.filters.city.coordinates && !this.sidebar.filters.useCurrentLocation;
      },

      isLocationSelected() {
        return this.sidebar.filters.city.coordinates !== null
          || this.sidebar.filters.useCurrentLocation;
      },

      canUseCurrentLocationAsStart() {
        if (this.currentLocation === null) {
          return false;
        }

        if (this.sidebar.filters.city.coordinates === null) {
          return false;
        }

        const distanceBetweenTwoPoints = this.getDistanceBetweenTwoPoints(
          this.sidebar.filters.city.coordinates,
          this.currentLocation
        );

        return distanceBetweenTwoPoints < this.map.maxUseCurrentLocationDistance;
      },

      ...mapGetters([
        'isAuthenticated',
        'user',
        'isMobile',
        'currentLocation',
        'transportationModesMap',
      ]),
    },

    methods: {
      toggleSidebar() {
        this.layout.isSidebar = !this.layout.isSidebar;
      },

      goToLocation(coordinates) {
        this.map.center = coordinates;
      },

      resetLocation() {
        this.map.center = this.sidebar.filters.city.coordinates || this.map.center;

        this.resetPlacesSearch();
      },

      resetPlacesSearch() {
        this.sidebar.filters.city.coordinates = null;
        this.sidebar.filters.from = null;
        this.sidebar.filters.fromAddress = null;
        this.sidebar.places.searchResults = [];
        this.sidebar.places.preview = null;
        this.sidebar.places.checked = [];
        this.sidebar.places.types.checked = [];
        this.sidebar.places.searchByName = null;
        this.sidebar.places.filterByName = null;
        this.sidebar.places.showOnlyChecked = false;
        this.resetSortPlaces();
      },

      searchCityAutocomplete() {
        const autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('filterCity'),
          {
            types: ['(cities)'],
          }
        );

        autocomplete.addListener('place_changed', () => {
          const place = autocomplete.getPlace();

          if (place) {
            this.sidebar.filters.city.id = place.place_id;
            this.sidebar.filters.city.name = place.formatted_address;
            this.sidebar.filters.city.coordinates = {
              lat: place.geometry.location.lat(),
              lng: place.geometry.location.lng(),
            };
            this.goToLocation(this.sidebar.filters.city.coordinates);
            this.setPlacesDumpEmptyGroup();
          }
        });

        this.sidebar.establishedAutoCompletes.push('searchCityAutocomplete');
      },

      searchFromAddressAutocomplete() {
        const circle = new google.maps.Circle({
          center: this.sidebar.filters.city.coordinates,
          radius: this.sidebar.autoCompleteBoundRadius,
        });
        const autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('filterFromAddress'),
          {
            bounds: circle.getBounds(),
            types: ['address'],
          }
        );

        autocomplete.addListener('place_changed', () => {
          const place = autocomplete.getPlace();

          if (place) {
            this.sidebar.filters.fromAddress = place.formatted_address;
            this.sidebar.filters.from = 'address';
            this.sidebar.places.startPoint = null;

            const startMarker = {
              icon: {
                url: this.map.startMarkerIconUrl,
              },
              position: {
                lat: place.geometry.location.lat(),
                lng: place.geometry.location.lng(),
              },
              draggable: false,
              is_visible: true,
              clickable: false,
              start: true,
              title: this.$i18n.translate('components.build_tour.sidebar.places.start_point'),
            };

            this.sidebar.places.startPoint = startMarker;
            this.map.googleObject.panTo(startMarker.position);
            this.map.googleObject.setZoom(this.map.singlePlaceZoom);

            this.layout.isSidebar = false;
          }
        });

        this.sidebar.establishedAutoCompletes.push('searchFromAddressAutocomplete');
      },

      searchPlaceByNameAutocomplete() {
        const circle = new google.maps.Circle({
          center: this.sidebar.filters.city.coordinates,
          radius: this.sidebar.autoCompleteBoundRadius,
        });
        const autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('searchPlaceByName'),
          {
            bounds: circle.getBounds(),
            types: ['establishment'],
          }
        );

        autocomplete.addListener('place_changed', () => {
          const place = autocomplete.getPlace();

          if (place) {
            this.sidebar.places.searchByName = place.formatted_address;

            const searchedPlace = this.createPlaceObject(place, { is_searched_by_name: true });
            const isAdded = _.filter(this.sidebar.places.searchResults, (place) => {
              return place.id === searchedPlace.id;
            }).length > 0;

            if (!isAdded) {
              this.sidebar.places.searchResults.unshift(searchedPlace);

              this.previewPlace(searchedPlace, 0);
            }

            this.map.googleObject.panTo(searchedPlace.position);
            this.map.googleObject.setZoom(this.map.singlePlaceZoom);
          }
        });

        this.sidebar.establishedAutoCompletes.push('searchPlaceByNameAutocomplete');
      },

      searchPlaces() {
        if (this.sidebar.places.types.checked.length && this.noLocationSelected) {
          this.sidebar.places.types.checked = [];
          this.notifyError(this.$i18n.translate('components.build_tour.messages.no_location'));
          this.loaderState = false;

          return;
        }

        if (!this.sidebar.places.types.checked.length) {
          return;
        }

        const type = _.last(this.sidebar.places.types.checked);
        const placesInDump = _.filter(
          this.sidebar.places.searchResultsDump[this.sidebar.filters.city.id],
          {
            type,
          }
        );

        // Get places from dump.
        if (placesInDump.length) {
          this.sidebar.places.searchResults = _.concat(
            this.sidebar.places.searchResults,
            placesInDump
          );

          this.sortPlaces();
        } else {
          // Get places from Google.
          this.placesService.nearbySearch(
            {
              location: this.map.center,
              radius: this.sidebar.filters.radius * 1000,
              type,
            },
            (places, status) => {
              if (status === google.maps.places.PlacesServiceStatus.ZERO_RESULTS) {
                this.loaderState = false;
                this.notifyWarning(this.$i18n.translate(
                  'components.build_tour.messages.no_results',
                  { type: this.$i18n.translate(`components.build_tour.sidebar.places.types_options.${type}`) }
                ));

                return;
              } else if (status !== google.maps.places.PlacesServiceStatus.OK) {
                return;
              }

              _.each(places, (place) => {
                const icon = {
                  url: this.map.defaultMarkerIconUrl,
                };

                const data = {
                  icon,
                  title: place.name,
                  position: place.geometry.location,
                  type,
                  animation: null,
                  id: place.place_id,
                  reviews: place.reviews,
                  photos: place.photos,
                  opening_hours: place.opening_hours,
                  formatted_phone_number: place.formatted_phone_number,
                  rating: place.rating || 0,
                  vicinity: place.vicinity,
                  is_visible: true,
                  draggable: false,
                  clickable: true,
                  city_id: this.sidebar.filters.city.id,
                };

                this.sidebar.places.searchResults.push(data);

                // Places dump.
                const placeInDump = _.find(
                  this.sidebar.places.searchResultsDump[this.sidebar.filters.city.id],
                  {
                    id: data.id,
                    type,
                  }
                );

                if (placeInDump === undefined) {
                  const placeDump = {};

                  _.each(data, (v, k) => {
                    placeDump[k] = v;
                  });

                  this.sidebar.places.searchResultsDump[this.sidebar.filters.city.id].push(placeDump);
                }
              });

              this.sortPlaces();
            });
        }

        this.zoomMap(this.map.defaultZoom);
        this.loaderState = false;
      },

      setPlaceTypes() {
        _.each(this.sidebar.places.types.available, (type) => {
          this.sidebar.places.types.options.push({
            text: this.$i18n.translate(`components.build_tour.sidebar.places.types_options.${type}`),
            value: type,
          });
        });
      },

      removePlaceType(removedType) {
        this.sidebar.places.types.checked = _.filter(this.sidebar.places.types.checked, (type) => {
          return removedType !== type;
        });
      },

      removePlace(removedPlace) {
        this.sidebar.places.checked = _.filter(this.sidebar.places.checked, (place) => {
          return removedPlace.id !== place.id;
        });
      },

      previewPlace(place, index) {
        this.stopMarkersAnimation();
        this.animatePlace(place);
        this.loaderState = true;

        const previewAction = () => {
          this.map.googleObject.panTo(place.position);
          this.loaderState = false;
          this.sidebar.places.preview = index;

          VueBus.$emit('placePreviewed');
        };

        if (!place.is_details_set) {
          this.placesService.getDetails(
            {
              placeId: place.id,
              fields: [
                'price_level',
                'reviews',
                'website',
                'opening_hours',
                'formatted_phone_number',
                'photos',
              ],
            },
            (result, status) => {
              if (status === google.maps.places.PlacesServiceStatus.OK) {
                _.each(result, (value, key) => {
                  this.sidebar.places.searchResults[index][key] = value;
                });

                this.sidebar.places.searchResults[index].is_details_set = true;
                previewAction();
              }
            }
          );
        } else {
          previewAction();
        }
      },

      animatePlace(place) {
        place.animation = google.maps.Animation.BOUNCE;
      },

      stopMarkersAnimation() {
        _.each(this.sidebar.places.searchResults, (place) => {
          place.animation = null;
        });
      },

      validateTourGeneration() {
        const fieldsToValidate = [
          'city.coordinates',
          'date',
          'time.from',
          'time.to',
          'how',
          'from',
        ];
        const errors = [];

        _.each(fieldsToValidate, (field) => {
          if (_.get(this.sidebar.filters, field) === null) {
            errors.push(this.$i18n.translate(`components.build_tour.messages.validation.${field}`));
          }
        });

        if (this.sidebar.places.checked.length < this.sidebar.places.minAllowed) {
          errors.push(
            this.$i18n.translate(
              'components.build_tour.messages.validation.checked_places.min',
              { count: this.sidebar.places.minAllowed }
            )
          );
        }

        if (this.sidebar.places.checked.length > this.sidebar.places.maxAllowed) {
          errors.push(
            this.$i18n.translate(
              'components.build_tour.messages.validation.checked_places.max',
              { count: this.sidebar.places.maxAllowed }
            )
          );
        }

        if (errors.length) {
          this.notifyError(_.head(errors));
        }

        return errors.length === 0;
      },

      saveTour() {
        if (this.validateTourGeneration()) {
          this.loaderState = true;

          const places = [];

          _.each(this.sidebar.places.checked, (place, index) => {
            places.push({
              position: index,
              id: place.id,
              name: place.title,
              coordinates: {
                lat: place.position.lat(),
                lng: place.position.lng(),
              },
              photo: place.photos && place.photos.length
                ? _.head(place.photos).getUrl({ maxWidth: 960 })
                : null,
            });
          });

          axios.post(
            Router.route('api.tour.store'),
            {
              city_name: this.sidebar.filters.city.name,
              city_id: this.sidebar.filters.city.id,
              date: this.sidebar.filters.date,
              time_start: this.sidebar.filters.time.from,
              time_end: this.sidebar.filters.time.to,
              transportation_type: this.sidebar.filters.how,
              start_point: {
                lat: this.sidebar.places.startPoint.position.lat,
                lng: this.sidebar.places.startPoint.position.lng,
              },
              places,
              user_id: this.user.id,
            },
          ).then(({ data }) => {
            this.$router.push({ name: 'my-tours' });

            this.notifySuccess(
              this.$i18n.translate('components.build_tour.messages.tour_saved')
            );
          }).catch(({ response: { data } }) => {
            _.each(data.errors, (error) => {
              this.notifyError(_.head(error));
            });
          }).finally(() => {
            this.loaderState = false;
          });
        }
      },

      orderPlaces() {
        // Apply graph algorithm to sort checked places.
      },

      setStartMarker(mode) {
        this.sidebar.places.startPoint = null;

        let position = {
          lat: this.map.googleObject.center.lat(),
          lng: this.map.googleObject.center.lng(),
        };

        if (mode === 'current' && this.currentLocation) {
          position = this.currentLocation;
        }

        const startMarker = {
          icon: {
            url: this.map.startMarkerIconUrl,
          },
          position,
          draggable: mode === 'set',
          is_visible: true,
          clickable: false,
          start: true,
          title: this.$i18n.translate('components.build_tour.sidebar.places.start_point'),
        };

        this.sidebar.places.startPoint = startMarker;
        this.map.googleObject.panTo(startMarker.position);
        this.map.googleObject.setZoom(this.map.singlePlaceZoom);

        if (mode === 'set') {
          this.notifyInfo(this.$i18n.translate('components.build_tour.messages.set_start'));
        }

        setTimeout(() => {
          this.layout.isSidebar = false;
        }, 500);
      },

      onMarkerDragEnd(event, marker) {
        marker.position = {
          lat: event.latLng.lat(),
          lng: event.latLng.lng(),
        };
      },

      getDistanceBetweenTwoPoints(point1, point2) {
        const coordinates1 = new google.maps.LatLng(point1.lat, point1.lng);
        const coordinates2 = new google.maps.LatLng(point2.lat, point2.lng);

        return google.maps.geometry.spherical.computeDistanceBetween(
          coordinates1,
          coordinates2
        );
      },

      showOnlyCheckedPlaces(flag) {
        const checkedPlacesIds = _.map(this.sidebar.places.checked, (place) => {
          return place.id;
        });

        _.each(this.sidebar.places.searchResults, (place) => {
          place.is_visible = flag ? _.indexOf(checkedPlacesIds, place.id) !== -1 : true;
        });
      },

      setPlacesDumpEmptyGroup() {
        if (!this.sidebar.places.searchResultsDump[this.sidebar.filters.city.id]) {
          this.sidebar.places.searchResultsDump[this.sidebar.filters.city.id] = [];
        }
      },

      zoomMap(zoom) {
        this.map.zoom = zoom;
      },

      createPlaceObject(place, options = {}) {
        const icon = {
          url: this.map.defaultMarkerIconUrl,
        };

        const placeObject = {
          icon,
          title: place.name,
          position: place.geometry.location,
          animation: null,
          id: place.place_id,
          reviews: place.reviews,
          photos: place.photos,
          opening_hours: place.opening_hours,
          formatted_phone_number: place.formatted_phone_number,
          rating: place.rating || 0,
          vicinity: place.vicinity,
          is_visible: true,
          draggable: false,
          clickable: true,
          city_id: this.sidebar.filters.city.id,
        };

        _.each(options, (value, key) => {
          placeObject[key] = value;
        });

        return placeObject;
      },

      removePlaceFromSearchResult(placeToRemove) {
        _.each(['searchResults', 'checked'], (type) => {
          this.sidebar.places[type] = _.filter(
            this.sidebar.places[type],
            (place) => {
              return place.id !== placeToRemove.id;
            }
          );
        });
      },

      getCheckedPlaceIndex(place) {
        return _.findIndex(this.sidebar.places.checked, (p) => {
          return p.id === place.id;
        });
      },

      isPlaceChecked(place) {
        return this.getCheckedPlaceIndex(place) !== -1;
      },

      setPlacesSortOptions() {
        const sortTypes = ['rating'];

        _.each(
          sortTypes,
          (type) => {
            this.sidebar.places.sort.options[type] = [];

            _.each(
              ['asc', 'desc'],
              (direction) => {
                this.sidebar.places.sort.options[type].push({
                  text: this.$i18n.translate(`components.build_tour.sidebar.places.sort.options.${type}.${direction}`),
                  value: {
                    type,
                    direction,
                  },
                });
              }
            );
          }
        );
      },

      sortPlaces(value = null) {
        const sort = value || this.sidebar.places.sort.value;

        if (sort.type && sort.direction) {
          switch (sort.type) {
            case 'rating':
              const sortedAsc = _.sortBy(this.sidebar.places.searchResults, (place) => {
                return place.rating;
              });

              this.sidebar.places.searchResults = sort.direction === 'asc'
                ? sortedAsc
                : _.reverse(sortedAsc);

              break;
          }
        }
      },

      resetSortPlaces() {
        this.sidebar.places.sort.value = {
          type: null,
          direction: null,
        };

        this.sidebar.places.searchResults = _.shuffle(this.sidebar.places.searchResults);
      },

      closePlacePreview(place) {
        this.sidebar.places.preview = null;

        if (place.is_searched_by_name) {
          this.sortPlaces();
        }
      },

      ...mapActions([
        'notifySuccess',
        'notifyInfo',
        'notifyWarning',
        'notifyError',
      ]),
    },

    created() {
      this.setPlaceTypes();

      this.setPlacesSortOptions();

      if (this.currentLocation) {
        this.goToLocation(this.currentLocation);
      }
    },

    mounted() {
      this.$refs.buildTourMap.$mapPromise.then((map) => {
        this.map.googleObject = map;
        this.placesService = new google.maps.places.PlacesService(map);
        this.directionsService = new google.maps.DirectionsService();

        this.searchCityAutocomplete();
      });
    },

    beforeRouteEnter(to, from, next) {
      $('#app').addClass('build-tour');

      next();
    },

    beforeRouteLeave(to, from, next) {
      $('#app').removeClass('build-tour');

      next();
    },
  };
</script>
