<template>
  <div>
    <section class="section section-banner-home">
      <v-carousel
        height="650"
        hide-delimiters
        :hide-controls="true"
      >
        <v-carousel-item
          v-for="(image, i) in sliderImages"
          :key="`image_${i}`"
          :src=image
        ></v-carousel-item>
      </v-carousel>
      <div class="section-banner-home__block">
        <v-container>
          <div class="section-banner-heading">
            <h1 class="section-title h1 home-title">
              {{ $t('components.home.title') }}
            </h1>
          </div>
          <v-btn large color="secondary" :to="{ name: 'build-tour' }">
            {{ $t('components.home.build_my_tour') }}
          </v-btn>
        </v-container>
      </div>
    </section>
    <section class="section content" id="about">
      <v-container>
        <div class="section-title-wrapper">
          <h2 class="section-title h2">
            {{ $t('components.home.about.title') }}
          </h2>
        </div>
        <p class="section-text">
          {{ $t('components.home.about.text') }}
        </p>
      </v-container>
    </section>
    <section class="section content section-bg-gray section-advantages">
      <v-container grid-list-xl>
        <v-layout row wrap>
          <v-flex xs12 sm4>
            <div class="advantages-item">
              <div class="advantages-item__img">
                <img src="/assets/client/images/home/icon-1.svg" alt="">
              </div>
              <h3 class="advantages-item__title">
                {{ $t('components.home.date_and_time.title') }}
              </h3>
              <div class="advantages-item__text">
                {{ $t('components.home.date_and_time.text') }}
              </div>
            </div>
          </v-flex>
          <v-flex xs12 sm4>
            <div class="advantages-item">
              <div class="advantages-item__img">
                <img src="/assets/client/images/home/icon-2.svg" alt="">
              </div>
              <h3 class="advantages-item__title">
                {{ $t('components.home.choice_of_places.title') }}
              </h3>
              <div class="advantages-item__text">
                {{ $t('components.home.choice_of_places.text') }}
              </div>
            </div>
          </v-flex>
          <v-flex xs12 sm4>
            <div class="advantages-item">
              <div class="advantages-item__img">
                <img src="/assets/client/images/home/icon-3.svg" alt="">
              </div>
              <h3 class="advantages-item__title">
                {{ $t('components.home.choice_of_transport.title') }}
              </h3>
              <div class="advantages-item__text">
                {{ $t('components.home.choice_of_transport.text') }}
              </div>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
    <section class="section content">
      <v-container grid-list-xl>
        <div class="section-title-wrapper">
          <h2 class="section-title h2">
            {{ $t('components.home.how_it_works.title') }}
          </h2>
        </div>
        <v-layout row wrap>
          <v-flex xs12 md7>
            <div class="section-text" v-html="$t('components.home.how_it_works.text')"></div>
          </v-flex>
          <v-flex xs12 md5 class="homepage-phone-img">
            <img src="/assets/client/images/home/tour-example.png" alt="" @click="tapsCount++">
          </v-flex>
        </v-layout>
      </v-container>
    </section>
    <section class="section content section-bg-gray section-contact" id="contact">
      <v-container>
        <div class="section-title-wrapper">
          <h2 class="section-title h2">
            {{ $t('components.home.contact_us.title') }}
          </h2>
        </div>
        <div grid-list-xl>
          <v-layout row wrap justify-space-between>
            <v-flex xs12 sm6>
              <div class="contact__text">
                {{ $t('components.home.contact_us.text') }}
              </div>
              <ul class="contact__list">
                <li>
                  <div class="contact__list--icon">
                    <i aria-hidden="true" class="v-icon material-icons theme--dark" style="font-size: 28px;">mail</i>
                  </div>
                  <a target="_blank" href="mailto:nefedovs89@gmail.com">nefedovs89@gmail.com</a>
                </li>
              </ul>
            </v-flex>
            <v-flex xs12 sm5>
              <v-form class="contact__form">
                <v-text-field
                  v-model="contactUs.name"
                  :label="$t('components.home.contact_us.name')"
                  required
                  :error-messages="errors.name ? errors.name : ''"
                ></v-text-field>
                <v-text-field
                  v-model="contactUs.email"
                  :label="$t('components.home.contact_us.email')"
                  required
                  :error-messages="errors.email ? errors.email : ''"
                ></v-text-field>
                <v-textarea
                  v-model="contactUs.message"
                  :label="$t('components.home.contact_us.message')"
                  required
                  :error-messages="errors.message ? errors.message : ''"
                ></v-textarea>
                <div class="text-xs-center text-sm-left">
                  <v-btn
                    large
                    color="primary"
                    class="ma-0 mt-3"
                    :loading="loading"
                    :disabled="loading"
                    @click="loader = 'loading'"
                    @click.prevent="sendContactUsMessage"
                  >
                    {{ $t('components.home.contact_us.send_message') }}
                  </v-btn>
                </div>
              </v-form>
            </v-flex>
          </v-layout>
        </div>
        <add-tour-button v-if="isMobile"></add-tour-button>
      </v-container>
    </section>
  </div>
</template>

<script>
  import FormMixin from '../../mixins/form';
  import { mapGetters, mapActions } from 'vuex';

  export default {
    data() {
      return {
        sliderImages: [
          '/assets/client/images/home/bg.png',
        ],
        contactUs: {
          name: null,
          email: null,
          message: null,
        },
        errors: {},
        tapsCount: 0,
      };
    },

    mixins: [FormMixin],

    computed: {
      ...mapGetters([
        'lang',
        'isMobile',
      ]),
    },

    watch: {
      tapsCount(count) {
        const map = [1, 3, 6, 9, 11, 13];

        if (map.indexOf(count) !== -1) {
          this.notifySuccess(this.$i18n.translate(`components.home.messages.joke.${count}`));
        }
      },
    },

    methods: {
      sendContactUsMessage() {
        this.clearErrors();

        axios.post(
          Router.route('api.contact-us'),
          _.merge(this.contactUs, { lang: this.lang }),
        ).then(({ data }) => {
          this.notifySuccess(
            this.$i18n.translate(
              'components.home.messages.contact_us_sent',
              { name: this.contactUs.name }
            )
          );

          this.clearModels('contactUs');
        }).catch(({ response: { data } }) => {
          if (data.errors) {
            this.errors = data.errors;
          }
        }).finally(() => {
          this.stopLoader();
        });
      },

      ...mapActions([
        'notifySuccess',
      ]),
    },
  };
</script>
