<template>
  <section class="section">
    <div class="container-auth">
      <div class="container-auth__top"></div>
      <div class="section-title-wrapper">
        <h1 class="container-auth__title h3 section-title">
          {{ $t('components.login.title') }}
        </h1>
      </div>
      <v-alert
        :value="errorMessage !== null"
        color="error"
        icon="warning"
        outline
        class="mb-4"
      >
        {{ errorMessage }}
      </v-alert>
      <v-text-field
        :label="$t('components.login.email')"
        required
        type="email"
        v-model="models.email"
        :error-messages="errors.email ? errors.email : ''"
        @keyup="submitOnInput($event, 'loginAction')"
      ></v-text-field>
      <v-text-field
        :label="$t('components.login.password')"
        :append-icon="show.password ? 'visibility_off' : 'visibility'"
        :type="show.password ? 'text' : 'password'"
        required
        @click:append="show.password = !show.password"
        v-model="models.password"
        :error-messages="errors.password ? errors.password : ''"
        @keyup="submitOnInput($event, 'loginAction')"
      ></v-text-field>
      <div class="container-auth__flex">
        <v-btn
          :block="true"
          :large="true"
          color="primary mt-3"
          @click.prevent="loginAction"
          :loading="loading"
          :disabled="loading"
          @click="loader = 'loading'"
        >
          {{ $t('components.login.btn') }}
        </v-btn>
      </div>
      <div class="container-auth__flex">
        <v-btn flat small class="ma-0 grid-50">
          <router-link :to="{ name: 'reset-password-email' }">
            {{ $t('components.login.forgot_password') }}
          </router-link>
        </v-btn>
        <!--<v-btn flat small class="ma-0 grid-50">-->
          <!--<router-link :to="{ name: 'register' }">-->
            <!--{{ $t('components.login.register') }}-->
          <!--</router-link>-->
        <!--</v-btn>-->
      </div>
      <!--<div class="container-auth__flex">-->
      <!--<v-btn class="facebook btn-social" :block="true" :large="true">-->
      <!--<font-awesome-icon :icon="['fab', 'facebook-f']" />-->
      <!--{{ $t('components.login.sign_fb') }}-->
      <!--</v-btn>-->
      <!--</div>-->
      <!--<div class="container-auth__flex">-->
      <!--<v-btn class="google btn-social" :block="true" :large="true">-->
      <!--<font-awesome-icon :icon="['fab', 'google']" />-->
      <!--{{ $t('components.login.sign_google') }}-->
      <!--</v-btn>-->
      <!--</div>-->
    </div>
  </section>
</template>

<script>
  import FormMixin from '../../mixins/form';
  import { mapGetters, mapActions } from 'vuex';

  export default {
    data() {
      return {
        show: {
          password: false,
        },
        models: {
          email: null,
          password: null,
        },
      };
    },

    mixins: [FormMixin],

    computed: {
      ...mapGetters([
        'isAuthenticated',
      ]),
    },

    methods: {
      loginAction() {
        this.clearErrors();

        axios.post(
          Router.route('api.auth.login'),
          this.models,
        ).then(({ data }) => {
          this.login({
            user: JSON.stringify(data.user),
            token: data.token,
            token_expires_at: data.token_expires_at,
          });

          this.notifySuccess(
            this.$i18n.translate(
              'components.login.messages.greeting',
              { name: data.user.name }
            )
          );

          this.$router.push({ name: 'home' });

          this.stopLoader();
        }).catch(({ response: { data } }) => {
          if (data.errors) {
            this.errors = data.errors;
          }

          if (data.message) {
            this.errorMessage = data.message;
          }

          this.stopLoader();
        });
      },

      ...mapActions([
        'login',
        'notifySuccess',
      ]),
    },

    created() {
      const urlParams = new URLSearchParams(window.location.search);

      if (urlParams.has('email')) {
        this.models.email = urlParams.get('email');
      }
    },

    beforeRouteEnter(toRoute, fromRoute, next) {
      next((v) => {
        v.$root.redirectIfAuthenticated();
      });
    },
  };
</script>
