<template>
  <section class="section section-tours">
    <div class="section-title-wrapper">
      <h1 class="section-title h2">
        {{ $t('components.tour.my.title') }}
      </h1>
    </div>
    <loader :state="loaderState"></loader>
    <v-container v-if="!loaderState" class="tours">
      <template v-if="tours.length">
        <tour-preview
          v-for="(tour, i) in tours"
          :key="`tour_preview__${i}`"
          :tour.sync="tour"
          @tourDeleted="onTourDeleted"
        >
        </tour-preview>
        <div class="pagination">
          <v-pagination
            v-model="page"
            :length="paginationLength"
            :circle="true"
          ></v-pagination>
        </div>
      </template>
      <div v-else class="no-tours">
        <p class="mb-3">{{ $t('components.tour.my.no_tours_yet') }}</p>
        <img src="/assets/client/images/not_found.svg" :width="!isMobile ? '30%' : '100%'" alt="">
      </div>
      <add-tour-button v-if="isMobile"></add-tour-button>
    </v-container>
    <add-tour-button v-if="isMobile"></add-tour-button>
  </section>
</template>

<script>
  import TourPreview from '../partials/TourPreview';
  import Loader from '../partials/Loader';
  import { mapGetters } from 'vuex';

  export default {
    components: {
      TourPreview,
      Loader,
    },

    data() {
      return {
        placesService: null,
        page: 1,
        tours: [],
        paginationLength: 0,
        placesImagesDump: {},
        maxPhotoSize: { maxWidth: 480 },
        loaderState: true,
      };
    },

    computed: {
      ...mapGetters([
        'isMobile',
      ]),
    },

    watch: {
      page() {
        this.getTours();
      },
    },

    methods: {
      getTours() {
        this.loaderState = true;

        axios.get(Router.route('api.tour.index', { page: this.page }))
          .then(({ data }) => {
            this.tours = data.data;
            this.paginationLength = _.ceil(data.total / data.per_page);
          }).catch((error) => {
            console.error(error.response);
          }).finally(() => {
            this.loaderState = false;
        });
      },

      onTourDeleted(deletedTour) {
        this.tours = _.filter(this.tours, (tour) => {
          return tour.id !== deletedTour.id;
        });
      },
    },

    created() {
      this.getTours();
    },
  };
</script>
