<template>
  <section class="section section-profile">
    <div
      class="section-profile__img"
      style="background-image: url(/assets/client/images/profile/profile-bg.png)">
      <div class="section-title-wrapper">
        <h1 class="section-title h2">
          {{ $t('components.profile.title') }}
        </h1>
      </div>
    </div>
    <v-container class="section-profile__container">
      <div class="profile__img">
        <v-avatar
          :tile="false"
          :size="isMobile ? '120px' : '160px'"
          color="grey lighten-4"
        >
          <img
            :src="avatarUrl"
            :alt="$t('components.profile.alt_image')"
          >
        </v-avatar>
        <template v-if="editProfile">
          <v-btn
            class="edit-avatar"
            fab dark small top
            color="primary"
            @click="editAvatarAction"
          >
            <i aria-hidden="true" class="v-icon material-icons theme--dark">edit</i>
          </v-btn>
          <v-btn
            v-if="uploadAvatar"
            class="upload-avatar"
            fab dark small bottom
            color="primary"
            @click="updateProfileAction"
          >
            <i aria-hidden="true" class="v-icon material-icons theme--dark">cloud_upload</i>
          </v-btn>
        </template>
        <input
          type="file"
          id="avatarInput"
          style="display: none"
          accept="image/*"
          @change="onAvatarPicked"
        />
      </div>
      <div class="profile__name">
        {{ user.name }}
      </div>
      <div class="profile__tours" v-if="user.tours_count !== 0">
        <strong>{{ user.tours_count }}</strong>
        <span>
          {{ $t('components.profile.tours_created') }}
        </span>
      </div>
      <div
        v-if="editProfile"
        class="profile__edit-form-item"
        :class="[{show: editProfile}]">
        <v-form class="profile__edit-form">
          <v-text-field
            v-model="models.name"
            :label="$t('components.profile.labels.name')"
            :error-messages="errors.name ? errors.name : ''"
            @keyup="submitOnInput($event, 'updateProfileAction')"
          ></v-text-field>
          <v-text-field
            v-model="models.email"
            :label="$t('components.profile.labels.email')"
            :error-messages="errors.email ? errors.email : ''"
            @keyup="submitOnInput($event, 'updateProfileAction')"
          ></v-text-field>
          <v-text-field
            v-model="models.password"
            :label="$t('components.profile.labels.password')"
            :append-icon="show.password ? 'visibility_off' : 'visibility'"
            :type="show.password ? 'text' : 'password'"
            required
            @click:append="show.password = !show.password"
            :error-messages="errors.password ? errors.password : ''"
            @keyup="submitOnInput($event, 'updateProfileAction')"
          ></v-text-field>
          <v-text-field
            v-model="models.password_confirmation"
            :label="$t('components.profile.labels.confirm_password')"
            :append-icon="show.passwordConfirm ? 'visibility_off' : 'visibility'"
            :type="show.passwordConfirm ? 'text' : 'password'"
            required
            @click:append="show.passwordConfirm = !show.passwordConfirm"
            :error-messages="errors.password ? errors.password : ''"
            @keyup="submitOnInput($event, 'updateProfileAction')"
          ></v-text-field>
          <v-btn
            color="primary"
            block
            @click.prevent="updateProfileAction"
            :loading="loading"
            :disabled="loading"
            @click="loader = 'loading'"
          >
            {{ $t('components.profile.labels.save_changes') }}
          </v-btn>
          <v-btn
            color="error"
            block
            @click.prevent="cancelEditProfile"
          >
            {{ $t('common.words.cancel') }}
          </v-btn>
        </v-form>
      </div>
      <v-btn
        v-if="!editProfile"
        large
        class="profile__edit"
        color="primary"
        @click="editProfile = !editProfile">
        {{ $t('components.profile.labels.edit_profile') }}
        <i aria-hidden="true" class="v-icon v-icon--right material-icons theme--dark">edit</i>
      </v-btn>
      <add-tour-button v-if="isMobile"></add-tour-button>
    </v-container>
  </section>
</template>

<script>
  import FormMixin from '../../mixins/form';
  import { mapActions, mapGetters } from 'vuex';

  export default {
    data() {
      return {
        editProfile: false,
        uploadAvatar: false,
        defaultAvatarUrl: '/assets/client/images/profile/profile-user.png',
        tempAvatarUrl: null,
        show: {
          password: false,
          passwordConfirm: false,
        },
        models: {
          name: null,
          id: null,
          email: null,
          password: null,
          password_confirmation: null,
          avatar: {
            file: null,
            url: null,
          },
          _method: 'PATCH',
        },
      };
    },

    computed: {
      avatarUrl() {
        if (this.tempAvatarUrl) {
          return this.tempAvatarUrl;
        }

        return this.models.avatar.url ? this.models.avatar.url : this.defaultAvatarUrl;
      },

      ...mapGetters([
        'user',
        'isMobile',
      ]),
    },

    mixins: [FormMixin],

    methods: {
      updateProfileAction() {
        const data = new FormData();

        _.forEach(this.models, (v, k) => {
          if (k === 'avatar') {
            if (v.file !== null) {
              data.set(k, v.file);
            }
          } else if (v) {
            data.set(k, v);
          }
        });

        axios.post(
          Router.route('api.profile.update'),
          data,
          {
            headers: {
              'Content-Type': 'multipart/form-data',
            },
          }
        ).then(({ data }) => {
          this.setUser(data.user);

          this.notifySuccess(this.$i18n.translate('components.profile.messages.updated'));

          this.stopLoader();

          this.editProfile = false;
          this.uploadAvatar = false;
        }).catch(({ response: { data } }) => {
          if (data.errors) {
            this.errors = data.errors;
          }

          if (data.errors.avatar) {
            this.notifyError(_.head(data.errors.avatar));
          }

          this.stopLoader();
        });
      },

      editAvatarAction() {
        window.document.getElementById('avatarInput').click();
      },

      onAvatarPicked(e) {
        const reader = new FileReader();
        const file = _.head(e.target.files);

        this.models.avatar.file = file;

        reader.onloadend = (e) => {
          if (_.startsWith(file.type, 'image/')) {
            this.tempAvatarUrl = e.target.result;
            this.uploadAvatar = true;
          } else {
            this.notifyError(
              this.$i18n.translate('validation.image', { attribute: 'avatar' })
            );
          }
        };

        if (file) {
          reader.readAsDataURL(file);
        }
      },

      fillModels() {
        _.forEach(
          {
            name: 'name',
            email: 'email',
            id: 'id',
            'avatar.url': 'avatar_url',
          },
          (userAttr, modelKey) => {
            if (this.user[userAttr]) {
              _.set(this.models, modelKey, this.user[userAttr]);
            }
          }
        );
      },

      cancelEditProfile() {
        this.editProfile = false;
        this.tempAvatarUrl = null;
        this.models.avatar.file = null;
      },

      ...mapActions([
        'notifySuccess',
        'notifyError',
        'setUser',
      ]),
    },

    mounted() {
      this.fillModels();
    },
  };
</script>
