<template>
  <section class="section">
    <div class="container-auth">
      <div class="container-auth__top"></div>
      <v-alert
        :value="isRegistered"
        type="success"
        outline
        class="mb-4"
      >
        {{ $t('components.register.messages.check_email') }}
      </v-alert>
      <div class="section-title-wrapper">
        <h1 class="container-auth__title h3 section-title">
          {{ $t('components.register.title') }}
        </h1>
      </div>
      <v-alert
        :value="errorMessage !== null"
        color="error"
        icon="warning"
        outline
        class="mb-4"
      >
        {{ errorMessage }}
      </v-alert>
      <v-text-field
        :label="$t('components.register.name')"
        required
        v-model="models.name"
        :error-messages="errors.name ? errors.name : ''"
        @keyup="submitOnInput($event, 'registerAction')"
      ></v-text-field>
      <v-text-field
        :label="$t('components.register.email')"
        required
        v-model="models.email"
        :error-messages="errors.email ? errors.email : ''"
        @keyup="submitOnInput($event, 'registerAction')"
      ></v-text-field>
      <v-text-field
        :label="$t('components.register.password')"
        :append-icon="show.password ? 'visibility_off' : 'visibility'"
        :type="show.password ? 'text' : 'password'"
        required
        @click:append="show.password = !show.password"
        v-model="models.password"
        :error-messages="errors.password ? errors.password : ''"
        @keyup="submitOnInput($event, 'registerAction')"
      ></v-text-field>
      <v-text-field
        :label="$t('components.register.confirm_password')"
        :append-icon="show.passwordConfirm ? 'visibility_off' : 'visibility'"
        :type="show.passwordConfirm ? 'text' : 'password'"
        required
        @click:append="show.passwordConfirm = !show.passwordConfirm"
        v-model="models.password_confirmation"
        :error-messages="errors.password ? errors.password : ''"
        @keyup="submitOnInput($event, 'registerAction')"
      ></v-text-field>
      <v-checkbox
        v-model="models.terms_and_conditions"
        :error-messages="errors.terms_and_conditions ? errors.terms_and_conditions : ''"
      >
        <template slot="label">
          <div>
            {{ $t('components.register.accept') }}
            <a
              href="#"
              @click.prevent.stop="termsAndConditionsDialog = true"
            >
              {{ $t('components.register.terms_and_conditions') }}
            </a>
            <v-dialog
              v-model="termsAndConditionsDialog"
              max-width="900"
            >
              <v-card>
                <v-card-title class="headline">{{ $t('components.register.terms_and_conditions_title') }}</v-card-title>
                <v-card-text>
                  <terms-and-conditions-component></terms-and-conditions-component>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="red lighten-2"
                    flat="flat"
                    @click="disagreeWithTermsAndConditions"
                  >
                    {{ $t('components.register.disagree') }}
                  </v-btn>
                  <v-btn
                    color="green lighten-2"
                    flat="flat"
                    @click="agreeWithTermsAndConditions"
                  >
                    {{ $t('components.register.agree') }}
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </template>
      </v-checkbox>
      <div class="container-auth__flex">
        <v-btn
          color="primary"
          :block="true"
          :large="true"
          @click.prevent="registerAction"
          :loading="loading"
          :disabled="loading"
          @click="loader = 'loading'"
        >
          {{ $t('components.register.btn') }}
        </v-btn>
      </div>
      <div class="container-auth__flex">
        <v-btn flat small class="ma-0 grid-50">
          <router-link :to="{ name: 'reset-password-email' }">
            {{ $t('components.login.forgot_password') }}
          </router-link>
        </v-btn>
        <v-btn flat small class="ma-0 grid-50">
          <router-link :to="{ name: 'login' }">
            {{ $t('components.register.login') }}
          </router-link>
        </v-btn>
      </div>
      <!--<div class="container-auth__flex">-->
      <!--<v-btn class="facebook btn-social" :block="true" :large="true">-->
      <!--<font-awesome-icon :icon="['fab', 'facebook-f']" />-->
      <!--{{ $t('components.register.sign_fb') }}-->
      <!--</v-btn>-->
      <!--</div>-->
      <!--<div class="container-auth__flex">-->
      <!--<v-btn class="google btn-social" :block="true" :large="true">-->
      <!--<font-awesome-icon :icon="['fab', 'google']" />-->
      <!--{{ $t('components.register.sign_google') }}-->
      <!--</v-btn>-->
      <!--</div>-->
    </div>
  </section>
</template>

<script>
  import FormMixin from '../../mixins/form';
  import { mapGetters } from 'vuex';
  import TermsAndConditionsComponent from './TermsAndConditions';

  export default {
    data() {
      return {
        show: {
          password: false,
          passwordConfirm: false,
        },
        models: {
          name: null,
          email: null,
          password: null,
          password_confirmation: null,
          terms_and_conditions: false,
        },
        isRegistered: false,
        termsAndConditionsDialog: false,
      };
    },

    mixins: [FormMixin],

    components: {
      TermsAndConditionsComponent,
    },

    computed: {
      ...mapGetters([
        'isAuthenticated',
      ]),
    },

    methods: {
      registerAction() {
        this.clearErrors();

        axios.post(
          Router.route('api.auth.register'),
          this.models,
        ).then(() => {
          this.clearModels();
          this.isRegistered = true;
          this.stopLoader();
        }).catch(({ response: { data } }) => {
          if (data.errors) {
            this.errors = data.errors;
          }

          if (data.message) {
            this.errorMessage = data.message;
          }

          this.stopLoader();
        });
      },

      agreeWithTermsAndConditions() {
        this.termsAndConditionsDialog = false;
        this.models.terms_and_conditions = true;
      },

      disagreeWithTermsAndConditions() {
        this.termsAndConditionsDialog = false;
        this.models.terms_and_conditions = false;
      },
    },

    beforeRouteEnter(toRoute, fromRoute, next) {
      next((v) => {
        v.$root.redirectIfAuthenticated();
      });
    },
  };
</script>
