<template>
  <section class="section">
    <div class="container-auth">
      <div class="container-auth__top"></div>
      <v-alert
        :value="successMessage !== null"
        type="success"
        outline
        class="mb-4"
      >
        {{ successMessage }}
      </v-alert>
      <v-alert
        :value="errorMessage !== null"
        color="error"
        icon="warning"
        outline
        class="mb-4"
      >
        {{ errorMessage }}
      </v-alert>
      <div class="section-title-wrapper">
        <h1 class="container-auth__title h3 section-title">
          {{ $t('components.reset_password.email.title') }}
        </h1>
      </div>
      <v-text-field
        :label="$t('components.reset_password.email.email')"
        required
        type="email"
        v-model="models.email"
        :error-messages="errors.email ? errors.email : ''"
        @keyup="submitOnInput($event, 'sendResetEmailAction')"
      ></v-text-field>
      <div class="container-auth__flex">
        <v-btn
          :block="true"
          :large="true"
          color="primary"
          @click.prevent="sendResetEmailAction"
          :loading="loading"
          :disabled="loading"
          @click="loader = 'loading'"
        >
          {{ $t('components.reset_password.email.reset_password') }}
        </v-btn>
      </div>
    </div>
  </section>
</template>

<script>
  import FormMixin from '../../mixins/form';
  import { mapGetters } from 'vuex';

  export default {
    data() {
      return {
        models: {
          email: null,
        },
        successMessage: null,
      };
    },

    mixins: [FormMixin],

    computed: {
      ...mapGetters([
        'isAuthenticated',
      ]),
    },

    methods: {
      sendResetEmailAction() {
        this.clearErrors();

        axios.post(
          Router.route('api.auth.reset-password.email'),
          this.models
        ).then(({ data }) => {
          this.clearModels();
          this.successMessage = data.message;
          this.stopLoader();
        }).catch(({ response: { data } }) => {
          if (data.errors) {
            this.errors = data.errors;
          }

          if (data.message) {
            this.errorMessage = data.message;
          }

          this.stopLoader();
        });
      },
    },

    beforeRouteEnter(toRoute, fromRoute, next) {
      next((v) => {
        v.$root.redirectIfAuthenticated();
      });
    },
  };
</script>
