<template>
  <section class="section">
    <div class="container-auth">
      <div class="container-auth__top"></div>
      <v-alert
        :value="errorMessage !== null"
        color="error"
        icon="warning"
        outline
        class="mb-4"
      >
        {{ errorMessage }}
      </v-alert>
      <div class="section-title-wrapper">
        <h1 class="container-auth__title h3 section-title">
          {{ $t('components.reset_password.reset.title') }}
        </h1>
      </div>
      <v-text-field
        :label="$t('components.reset_password.reset.password')"
        :append-icon="show.password ? 'visibility_off' : 'visibility'"
        :type="show.password ? 'text' : 'password'"
        required
        v-model="models.password"
        :error-messages="errors.password ? errors.password : ''"
        @click:append="show.password = !show.password"
        @keyup="submitOnInput($event, 'resetPasswordAction')"
      ></v-text-field>
      <v-text-field
        :label="$t('components.reset_password.reset.confirm_password')"
        :append-icon="show.passwordConfirm ? 'visibility_off' : 'visibility'"
        :type="show.passwordConfirm ? 'text' : 'password'"
        required
        v-model="models.password_confirmation"
        :error-messages="errors.password ? errors.password : ''"
        @click:append="show.passwordConfirm = !show.passwordConfirm"
        @keyup="submitOnInput($event, 'resetPasswordAction')"
      ></v-text-field>
      <div class="container-auth__flex">
        <v-btn
          color="primary"
          :block="true"
          :large="true"
          @click.prevent="resetPasswordAction"
          :loading="loading"
          :disabled="loading"
          @click="loader = 'loading'"
        >
          {{ $t('components.reset_password.reset.reset_password') }}
        </v-btn>
      </div>
    </div>
  </section>
</template>

<script>
  import FormMixin from '../../mixins/form';
  import { mapActions } from 'vuex';

  export default {
    data() {
      return {
        show: {
          password: false,
          passwordConfirm: false,
        },
        models: {
          email: null,
          password: null,
          password_confirmation: null,
          token: null,
        },
      };
    },

    mixins: [FormMixin],

    methods: {
      resetPasswordAction() {
        this.clearErrors();

        axios.post(
          Router.route('api.auth.reset-password'),
          this.models
        ).then(({ data }) => {
          this.notifySuccess(data.message);

          this.$router.push({ name: 'login', query: { email: this.models.email } });

          this.stopLoader();
        }).catch(({ response: { data } }) => {
          if (data.errors) {
            this.errors = data.errors;
          }

          if (data.message) {
            this.errorMessage = data.message;
          }

          if (this.errors.email !== undefined) {
            this.errorMessage = _.first(this.errors.email);
          }

          this.stopLoader();
        });
      },

      ...mapActions([
        'notifySuccess',
      ]),
    },

    created() {
      const urlParams = new URLSearchParams(window.location.search);

      if (urlParams.has('email')) {
        this.models.email = urlParams.get('email');
      }

      this.models.token = this.$route.params.token;
    },

    beforeRouteEnter(toRoute, fromRoute, next) {
      next((v) => {
        v.$root.redirectIfAuthenticated();
      });
    },
  };
</script>
