<template>
  <section class="section section-tour" v-if="tour">
    <div class="tour-preview-wrapper">
      <v-container>
        <tour-preview
          :tour="tour"
          @setActivePlace="setActivePlace"
          hide-btn
        />
      </v-container>
    </div>
    <div class="section-tour__map">
      <GmapMap
        v-if="tour"
        :id="map.id"
        :ref="map.id"
        :options="map.options"
        :center="map.center"
        :zoom="map.zoom"
        class="google-map"
      >
        <GmapMarker
          :key="index"
          v-for="(place, index) in map.places"
          :position="place.position"
          :title="place.title"
          :icon="place.icon"
          @click="map.previewPlaceIndex = index"
        />
        <GmapMarker
          :position="tour.start_point"
          :icon="icons.startMarkerIconUrl"
        />
        <GmapMarker
          v-if="currentLocation"
          :position="currentLocation"
          :icon="icons.currentPositionIconUrl"
        />
      </GmapMap>
      <loader :state="loaderState"></loader>
      <!-- Place Preview -->
      <transition name="fade">
        <div
          v-if="map.previewPlaceIndex !== null"
          class="section-create__place-preview"
        >
          <div class="place-preview">
            <place
              :place="map.places[map.previewPlaceIndex]"
              :index="map.previewPlaceIndex + 1"
            >
            </place>
            <div class="close-place">
              <v-btn
                color="primary"
                fab
                small
                dark
                @click="map.previewPlaceIndex = null"
              >
                <i aria-hidden="true" class="v-icon material-icons theme--light">close</i>
              </v-btn>
            </div>
          </div>
          <div class="place-backdrop" @click="map.previewPlaceIndex = null"></div>
        </div>
      </transition>
    </div>
    <div class="section-tour__routes">
      <v-container>
        <div class="routes">
          <div
            v-for="(place, i) in tour.places"
            :key="i"
            class="route">
            <div class="route__index">
              {{ i + 1 }}
            </div>
            <div class="route__title">
              <v-btn :color="directionPlaceIndex === i ? 'success' : 'primary'" @click="seeNavigation(place, i)" class="step-btn">
                <i aria-hidden="true" class="v-icon material-icons theme--light">
                  navigation
                </i>
                {{ i === 0 ? $t('components.tour.single.home') : $_.truncate(tour.places[i - 1].name, { length: 10 }) }}
                <i aria-hidden="true" class="v-icon material-icons theme--light">
                  arrow_forward
                </i>
                {{ i + 1 === tour.places.length ? $t('components.tour.single.home') : $_.truncate(place.name, { length: 10 }) }}
              </v-btn>
            </div>
            <div class="route__dots"></div>
          </div>
        </div>
        <div id="directionsPanel" class="mt-2"></div>
        <show-current-location-button
          v-if="isMobile"
          @showMyLocation="showMyLocation"
          style="bottom: 80px"
        ></show-current-location-button>
        <add-tour-button v-if="isMobile"></add-tour-button>
      </v-container>
    </div>
  </section>
</template>

<script>
  import TourPreview from '../partials/TourPreview';
  import Place from '../partials/Place';
  import Loader from '../partials/Loader';
  import { mapGetters, mapActions } from 'vuex';
  import PageHelper from '../../mixins/page';

  export default {
    components: {
      TourPreview,
      Place,
      Loader,
    },

    mixins: [PageHelper],

    data() {
      return {
        directionPlaceIndex: null,
        tour: null,
        loaderState: false,
        map: {
          id: 'singleTourMap',
          center: {},
          zoom: 11,
          singlePlaceZoom: 15,
          currentLocationZoom: 15,
          options: {
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            disableDefaultUi: false,
          },
          places: [],
          previewPlaceIndex: null,
        },
        placesService: null,
        directionsService: null,
        directionsDisplay: null,
        isMapServiceInitialized: false,
        elements: {
          $navigationStep: null,
        },
        cssClasses: {
          navigationActiveClass: 'navigation-active-step',
        },
      };
    },

    computed: {
      ...mapGetters([
        'isMobile',
        'currentLocation',
        'icons',
        'navigatorPositionWatcherId',
      ]),
    },

    methods: {
      getTour() {
        this.loaderState = true;

        axios.get(Router.route('api.tour.get', { tour: this.$route.params.id }))
          .then(({ data }) => {
            this.tour = data.tour;

            this.tour.places.push(_.merge(this.tour.start_point, { is_home: true }));

            this.setMarkers();
          }).catch((error) => {
            console.error(error);
          }).finally(() => {
            this.loaderState = false;

            setTimeout(() => {
              if (!this.isMapServiceInitialized) {
                this.initializeMapServices();
              }
            }, 500);
          });
      },

      setMarkers() {
        this.map.center = this.tour.start_point;

        _.each(this.tour.places, (place) => {
          this.map.places.push({
            icon: {
              url: this.icons.defaultMarkerIconUrl,
            },
            title: place.name,
            label: place.name,
            position: place.coordinates,
            id: place.id,
            clickable: true,
            photos: [
              {
                getUrl: () => {
                  return this.tour.places_photos[place.id];
                },
              },
            ],
          });
        });
      },

      setActivePlace(activePlace) {
        _.each(this.map.places, (place) => {
          place.icon = place.id === activePlace.id
            ? this.icons.checkedMarkerIconUrl
            : this.icons.defaultMarkerIconUrl;
        });

        this.map.googleObject.panTo(activePlace.coordinates);
        this.map.googleObject.setZoom(this.map.singlePlaceZoom);
      },

      seeNavigation(place, index) {
        if (this.elements.$navigationStep) {
          this.elements.$navigationStep.removeClass(this.cssClasses.navigationActiveClass);
        }

        const origin = index === 0
          ? this.tour.start_point
          : this.map.places[index - 1].position;
        const destination = index + 1 === this.tour.places.length
          ? this.tour.start_point
          : this.map.places[index].position;
        this.directionPlaceIndex = index;

        this.setRouteBetweenTwoPoints(origin, destination);
        this.scrollToAnchor(this.map.id);
      },

      renderTour() {
        // Get directions and save them to db.
        const origin = this.tour.start_point;
        const lastPlace = _.last(this.map.places);
        const destination = {
          lat: lastPlace.position.lat,
          lng: lastPlace.position.lng,
        };

        if (this.tour.transportation_type !== 'TRANSIT') {
          this.setRouteBetweenTwoPoints(origin, destination);
        } else {
          const routePairs = [];

          _.each(this.map.places, (place, index) => {
            let data = {};

            if (index === 0) {
              data = {
                origin,
                destination: {
                  lat: place.position.lat,
                  lng: place.position.lng,
                },
              };
            } else {
              data = {
                origin: {
                  lat: this.map.places[index - 1].position.lat,
                  lng: this.map.places[index - 1].position.lng,
                },
                destination: {
                  lat: this.map.places[index].position.lat,
                  lng: this.map.places[index].position.lng,
                },
              };
            }

            routePairs.push(data);
          });

          _.each(routePairs, (pair) => {
            this.setRouteBetweenTwoPoints(pair.origin, pair.destination);
          });
        }
      },

      setRouteBetweenTwoPoints(origin, destination) {
        const directionsRequest = {
          origin,
          destination,
          travelMode: this.tour.transportation_type,
          unitSystem: google.maps.UnitSystem.METRIC,
          waypoints: [],
          optimizeWaypoints: true,
          avoidFerries: true,
          avoidTolls: true,
          provideRouteAlternatives: true,
        };

        // todo: account timezone.
        const departureTime = new Date(
          `${this.tour.date} ${this.tour.time_start}`
        );

        if (directionsRequest.travelMode === 'TRANSIT') {
          directionsRequest.transitOptions = {
            departureTime,
            modes: ['BUS', 'SUBWAY', 'TRAM', 'RAIL', 'TRAIN'],
            routingPreference: 'FEWER_TRANSFERS',
          };
        } else {
          const waypoints = _.slice(
            this.map.places,
            0,
            this.map.places.length - 1
          );

          _.each(waypoints, (waypoint) => {
            directionsRequest.waypoints.push({
              location: new google.maps.LatLng(
                waypoint.position.lat,
                waypoint.position.lng
              ),
              stopover: true,
            });
          });
        }

        if (directionsRequest.travelMode === 'DRIVING') {
          directionsRequest.drivingOptions = {
            departureTime,
            trafficModel: 'bestguess',
          };
        }

        this.directionsService.route(directionsRequest, (response, status) => {
          if (status === google.maps.DirectionsStatus.OK) {
            this.directionsDisplay.setDirections(response);
            this.directionsDisplay.setPanel(document.getElementById('directionsPanel'));

            setTimeout(() => {
              this.elements.$navigationStep = $('td.adp-substep').parent('tr');

              if (this.elements.$navigationStep.length) {
                this.elements.$navigationStep.on('click', (e) => {
                  const $this = $(e.currentTarget);

                  this.elements.$navigationStep.removeClass(this.cssClasses.navigationActiveClass);
                  $this.addClass(this.cssClasses.navigationActiveClass);

                  this.scrollToAnchor(this.map.id);
                });
              }
            }, 500);
          } else {
            if (status === google.maps.DirectionsStatus.ZERO_RESULTS) {
              this.notifyWarning(this.$i18n.translate('components.build_tour.messages.directions_zero_results'));
            }

            console.error('Could not display directions due to: ' + status);
          }
        });
      },

      initializeMapServices() {
        this.$refs.singleTourMap.$mapPromise.then((map) => {
          this.map.googleObject = map;
          this.placesService = new google.maps.places.PlacesService(map);
          this.directionsService = new google.maps.DirectionsService();
          this.directionsDisplay = new google.maps.DirectionsRenderer({
            draggable: true,
            map: this.map.googleObject,
            suppressMarkers: true,
          });

          this.isMapServiceInitialized = true;
        });
      },

      showMyLocation() {
        this.setCurrentLocation();

        if (this.currentLocation) {
          this.map.googleObject.panTo(this.currentLocation);
          this.map.googleObject.setZoom(this.map.currentLocationZoom);
          this.scrollToAnchor(this.map.id);
        }
      },

      ...mapActions([
        'notifySuccess',
        'notifyInfo',
        'notifyWarning',
        'setCurrentLocation',
      ]),
    },

    created() {
      this.getTour();
    },
  };
</script>
