@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,500i,700&display=swap");

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: $text-color;
  -webkit-font-smoothing: antialiased;

  .application {
    font-family: 'Roboto', sans-serif;
  }
}

.h1 {
  font-size: 50px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 18px;
}

.h4 {
  font-size: 17px;
}

.h5 {
  font-size: 16px;
}

.theme--light.application {
  color: $text-color;
}

a {
  transition: $transition;
  text-decoration: none;

  &.link-w-icon {
    text-decoration: none;

    i {
      color: $primary;
    }

    > span {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: $transition;
      color: $text-color;
    }

    &:hover {
      text-decoration: none;

      > span {
        text-decoration: underline;
        color: $primary;
      }
    }

    &.link-white {
      i {
        color: #fff;
      }

      > span {
        color: #fff;
      }

      &:hover {
        > span {
          color: #fff;
        }
      }
    }
  }
}

button {
  transition: $transition;

  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

svg,
img {
  max-width: 100%;
}

.section {
  padding: 60px 0;

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  &-bg-gray {
    background-color: rgb(249, 249, 249);
  }

  @media (max-width: 767px) {
    padding: 30px 0;
  }
}

.section-title {
  &.h1 {
    font-size: 50px;
    font-weight: bold;
  }

  &.h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &.h3 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &-wrapper {
    text-align: center;

    .section-title.h3,
    .section-title.h2 {
      display: inline-block;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: 40px;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: $primary;
      }
    }
  }
}

.section-sub-title {
  font-size: 20px;
}

.v-menu__content {
  width: 200px;
}

.theme--light.application {
    background-color: #fff!important;
    color: rgba(0,0,0, 0.7)!important;
}

.theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea {
  color: rgba(0,0,0, 0.7);
}

.text-orange {
  color: $secondary!important;
}

.clickable {
  cursor: pointer;
}

.notification-bar .v-snack__content {
  height: auto!important;
}

.v-btn--floating .v-icon {
  height: auto!important;
  width: auto!important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.web-cap-name {
  text-decoration: underline!important;
}
