.v-footer {
  font-weight: 500;
  text-align: center;
  justify-content: center;
  color: #fff;
  height: 52px !important;
  padding: 2px 30px;

  @media (max-width: 575px) {
    font-size: 14px;
    line-height: 20px;
  }
}
