.header {
  .header-menu {
    list-style: none;
    padding: 0;
    margin: 0 20px 0 auto;
    display: flex;
    height: 100%;
  }

  .v-toolbar--clipped{
    z-index: 11;
  }

  .header-login,
  .header-menu__item {
    display: flex;
    position: relative;
    padding: 0 15px;
    align-items: center;
    height: 100%;

    a {
      color: $text-color;
      font-size: 16px;
      font-weight: 500;

      .v-icon {
        vertical-align: top;
        color: $primary;
        transition: $transition;
        display: none;

        @include q-small {
          display: inline-block;
        }
      }

      .logout .v-icon {
        display: inline-block;
      }

      &:after {
        position: absolute;
        content: '';
        left: 50%;
        width: 0;
        top: 0;
        height: 3px;
        max-height: 0;
        border-radius: 0 0 2px 2px;
        background-color: $primary;
        opacity: 0;
        transition: $transition;
      }

      &:hover,
      &.active {
        color: $primary;

        .v-icon {
          color: $primary;
        }

        &:after {
          opacity: 1;
          max-height: 3px;
          left: 15px;
          width: calc(100% - 30px);
        }
      }
    }
  }

  .logout:hover {
    cursor: pointer;
  }

  .header-logo {
    display: flex;

    img {
      height: 30px;
      width: auto;
      max-width: 100%;
    }

    .header-logo__img-w {
      display: none;
    }
  }

  .header-toggle {
    display: none;
  }

  @include q-small {
    .v-toolbar {
      background-color: $primary !important;
    }

    .header-menu {
      margin: 0;
      padding: 5px 0;
      min-width: 160px;
      text-align: center;
      background-color: #fff;
      flex-direction: column;
      display: block;
      position: fixed;
      right: 16px;
      top: 62px;
      height: auto;
      border-radius: 4px;
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.31);
      opacity: 0;
      pointer-events: none;
      transition: $transition;

      &__item {
        padding: 10px;

        a {
          padding: 5px 20px;
          display: block;
          width: 100%;
          text-align: left;

          &:after {
            display: none;
          }
        }
      }

      &.show {
        opacity: 1;
        pointer-events: auto;
        top: 52px;
      }
    }

    .header-logo {
      margin: 0 auto 0 0;

      .header-logo__img {
        display: none;
      }

      .header-logo__img-w {
        display: block;
      }
    }

    .header-login {
      padding-right: 0;

      a {
        color: #fff;

        .v-icon {
          color: #fff;
        }

        &:hover {

        }
      }
    }

    .header-toggle {
      display: flex;
      align-items: center;
      border: 0;
      margin: 0;
      padding: 0;
      width: 28px;
      height: 28px;
      position: relative;
      margin-right: 15px;

      .line {
        transition: $transition 0.2s;
        display: block;
        width: 100%;
        height: 23px;
        border: {
          width: 3px 0;
          style: solid;
          color: #fff;
        }
      ;

        &:before,
        &:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 3px;
          background-color: #fff;
          transition: all 0.4s;
          top: 13px;
          left: 0;
          transform-origin: center;
        }

      }

      &.active {
        .line {
          border: 0 solid transparent;
          transition: $transition;

          &:after {
            transform: rotate(225deg);
          }

          &:before {
            transform: rotate(315deg);
          }
        }
      }
    }

    .header-btn {
      display: none;
    }
  }

  @media (min-width: 960px) {
    .sidebar-toggle {
      display: none!important;
    }
  }
}


@media (max-width: 959px) {
  .header .v-toolbar__content {
    height: 48px!important;
  }

  .v-content {
    padding-top: 48px!important;
  }
}
