<template>
    <user-form
        :model.sync="model"
        :errors.sync="errors"
        @submit="store"
    >
    </user-form>
</template>

<script>
    import UserFormComponent from './form';
    import FormHelper from '../../../../common/js/mixins/form_helper';

    export default {
      components: {
        UserForm: UserFormComponent,
      },

      mixins: [FormHelper],

      data() {
        return {
          model: {
            name: null,
            email: null,
            password: null,
            password_confirmation: null,
            roles: [],
          },
          errors: {},
        };
      },

      methods: {
        store(data) {
          this.errors = {};

          axios.post(
            Router.route('acp.user.store'),
            data
          ).then(() => {
            location.href = Router.route('acp.user.index');
          }).catch(({ response: { data: { errors } } }) => {
            this.errors = errors;
            this.scrollToError();
          });
        },
      },
    };
</script>
