<template>
    <user-form
        v-if="model"
        :model.sync="model"
        :errors.sync="errors"
        @submit="update"
        @activate="activate"
        @deactivate="deactivate"
        @delete="deleteUser"
    >
    </user-form>
</template>

<script>
    import UserFormComponent from './form';
    import FormHelper from '../../../../common/js/mixins/form_helper';

    export default {
      components: {
        UserForm: UserFormComponent,
      },

      props: {
        userId: {
          type: Number,
          required: true,
        },
      },

      mixins: [FormHelper],

      data() {
        return {
          model: null,
          errors: {},
        };
      },

      created() {
        this.get();
      },

      methods: {
        update(data) {
          this.errors = {};

          axios.patch(
            Router.route('acp.user.update', { user: this.userId }),
            data
          ).then(() => {
            location.href = Router.route('acp.user.index');
          }).catch(({ response: { data: { errors } } }) => {
            this.errors = errors;
            this.scrollToError();
          });
        },

        get() {
          axios.get(
            Router.route('acp.user.get', { user: this.userId })
          ).then((response) => {
            this.model = response.data;

            _.each(this.model.roles, (role) => {
              role.label = role.name;
              role.value = role.id;
            });
          }).catch(({ response: { data: { message } } }) => {
            console.error(message);
          });
        },

        activate() {
          axios.patch(
            Router.route('acp.user.activate', { user: this.userId }),
          ).then(() => {
            location.href = Router.route('acp.user.index');
          }).catch(({ response: { data: { errors } } }) => {
            console.error(errors);
          });
        },

        deactivate() {
          axios.patch(
            Router.route('acp.user.deactivate', { user: this.userId }),
          ).then(() => {
            location.href = Router.route('acp.user.index');
          }).catch(({ response: { data: { errors } } }) => {
            console.error(errors);
          });
        },

        deleteUser() {
          axios.delete(
            Router.route('acp.user.delete', { user: this.userId }),
          ).then(() => {
            location.href = Router.route('acp.user.index');
          }).catch(({ response: { data: { errors } } }) => {
            console.error(errors);
          });
        },
      },
    };
</script>
