<template>
    <div class="row">
        <div class="col-md-8">
            <div class="card" v-if="model.id">
                <div class="card-body text-center">
                    <div class="card-img-actions d-inline-block mb-3">
                        <img class="img-fluid rounded-circle"
                             :src="model.avatar_url"
                             width="170" height="170" alt=""
                        >
                    </div>
                    <h3>{{ model.name }}</h3>
                    <span
                        class="d-block text-muted"
                        v-for="(role, i) in model.roles"
                        :key="`role_${i}`"
                    >
                        {{ $_.upperFirst(role.name) }}
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form>
                        <h6>{{ $t('acp.user.form.title') }}</h6>
                        <div class="form-group">
                            <label>
                                <strong>{{ $t('acp.user.form.name') }}</strong>
                            </label>
                            <input
                                name="name"
                                type="text"
                                v-model="model.name"
                                class="form-control"
                                :class="{ 'border-danger': errors.name }"
                            >
                            <div v-for="(error, i) in errors.name"
                                 :key="`name__error__${i}`"
                                 class="text-danger error"
                            >
                                {{ error }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                <strong>{{ $t('acp.user.form.email') }}</strong>
                            </label>
                            <input
                                name="email"
                                type="text"
                                v-model="model.email"
                                class="form-control"
                                :class="{ 'border-danger': errors.email }"
                            >
                            <div v-for="(error, i) in errors.email"
                                 :key="`email__error__${i}`"
                                 class="text-danger error"
                            >
                                {{ error }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                <strong>{{ $t('acp.user.form.password') }}</strong>
                            </label>
                            <input
                                name="password"
                                type="password"
                                v-model="model.password"
                                class="form-control"
                                :class="{ 'border-danger': errors.password }"
                            >
                            <div v-for="(error, i) in errors.password"
                                 :key="`password__error__${i}`"
                                 class="text-danger error"
                            >
                                {{ error }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                <strong>{{ $t('acp.user.form.password_confirmation') }}</strong>
                            </label>
                            <input
                                name="password_confirmation"
                                type="password"
                                v-model="model.password_confirmation"
                                class="form-control"
                                :class="{ 'border-danger': errors.password_confirmation }"
                            >
                            <div v-for="(error, i) in errors.password_confirmation"
                                 :key="`password_confirmation__error__${i}`"
                                 class="text-danger error"
                            >
                                {{ error }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">
                                <strong>
                                    {{ $t('acp.user.form.roles') }}
                                </strong>
                            </label>
                            <vue-select
                                v-model="model.roles"
                                :options="roles"
                                :multiple="true"
                                :class="{ 'border-danger': errors.roles }"
                            >
                                <template slot="option" slot-scope="option">
                                    <span>{{ option.label }}</span>
                                </template>
                            </vue-select>
                            <div
                                v-for="(error, i) in errors.roles"
                                :key="`roles__error__${i}`"
                                class="text-danger error"
                            >
                                {{ error }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-right">
                <template v-if="model.id">
                    <button
                        v-if="model.is_active"
                        type="submit"
                        class="btn btn-warning"
                        @click.prevent="deactivate"
                    >
                        {{ $t('common.words.deactivate') }}
                    </button>
                    <button
                        v-else
                        type="submit"
                        class="btn btn-success"
                        @click.prevent="activate"
                    >
                        {{ $t('common.words.activate') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-danger"
                        @click.prevent="deleteUser"
                    >
                        {{ $t('common.words.delete') }}
                    </button>
                </template>
                <button
                    type="submit"
                    class="btn btn-primary"
                    @click.prevent="submit"
                >
                    {{ $t('common.words.save') }}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      props: {
        model: {
          type: Object,
          required: true,
        },
        errors: {
          type: Object,
          required: true,
        },
      },

      data() {
        return {
          roles: window.wander.user.roles,
        };
      },

      computed: {
      },

      methods: {
        submit() {
          this.$emit('submit', this.model);
        },

        activate() {
          confirmation.warning(() => {
            this.$emit('activate');
          });
        },

        deactivate() {
          confirmation.warning(() => {
            this.$emit('deactivate');
          });
        },

        deleteUser() {
          confirmation.delete(() => {
            this.$emit('delete');
          });
        },
      },
    };
</script>
