<template>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <form class="col-8">
                    <div class="form-group row">
                        <a :href="$r('acp.user.create')" class="btn btn-labeled btn-labeled-right bg-blue heading-btn">
                            <b><i class="icon-add"></i></b>
                            {{ $t('acp.user.index.header_btn') }}
                        </a>
                        <div class="col-md">
                            <input
                                name="name"
                                v-model="filters.name"
                                type="text"
                                class="form-control"
                                :placeholder="$t('acp.user.index.filters.name')"
                            >
                        </div>
                        <div class="col-md pl-0">
                            <input
                                name="email"
                                v-model="filters.email"
                                type="text"
                                class="form-control"
                                :placeholder="$t('acp.user.index.filters.email')"
                            >
                        </div>
                        <div class="col-md pl-0">
                            <input
                                v-model="filters.id"
                                name="name"
                                type="text"
                                class="form-control"
                                :placeholder="$t('acp.user.index.filters.id')"
                            >
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table" id="users">
                        <thead>
                        <tr class="bg-blue">
                            <th>{{ $t('acp.user.index.table.headers.id') }}</th>
                            <th>{{ $t('acp.user.index.table.headers.name') }}</th>
                            <th>{{ $t('acp.user.index.table.headers.email') }}</th>
                            <th>{{ $t('acp.user.index.table.headers.role') }}</th>
                            <th>{{ $t('acp.user.index.table.headers.verified') }}</th>
                            <th>{{ $t('acp.user.index.table.headers.lang') }}</th>
                            <th>{{ $t('acp.user.index.table.headers.created_at') }}</th>
                            <th>{{ $t('common.words.actions') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-if="!isLoading">
                            <tr v-for="(user, i) in users" :key="`user_${i}`">
                                <td>{{ user.id }}</td>
                                <td>
                                    <a
                                        :title="user.name"
                                        :href="$r('acp.user.edit', { user: user.id } )"
                                        v-html='getWrappedName(user.name) + ` <i class="icon icon-pencil small"></i>`'
                                        target="_blank"
                                    >
                                    </a>
                                </td>
                                <td>
                                    <span v-html="getWrappedName(user.email, 'email')"></span>
                                </td>
                                <td>
                                    <span
                                        v-for="(role, i) in user.roles"
                                        :key="`roler_${i}`"
                                        class="badge mr-1"
                                        :class="role.name === 'admin' ? 'badge-info' : 'badge-warning'"
                                    >
                                        {{ $t(`common.roles.${role.name}`) }}
                                    </span>
                                </td>
                                <td>
                                    <span v-if="user.email_verified_at" class="badge badge-success">
                                        {{ $t('acp.user.index.table.body.verified') }}
                                    </span>
                                    <span v-else class="badge badge-danger">
                                        {{ $t('acp.user.index.table.body.not_verified') }}
                                    </span>
                                </td>
                                <td>{{ user.language }}</td>
                                <td>{{ user.created_at }}</td>
                                <td>
                                    <a :href="$r('acp.user.edit', { user: user.id })" class="btn btn-labeled btn-labeled-right bg-blue heading-btn">
                                      <b><i class="icon icon-pencil"></i></b>
                                      {{ $t('common.words.edit') }}
                                    </a>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
                <spinner :is-loading="isLoading" class="m-4"></spinner>
            </div>
            <b-pagination
                v-model='filters.page'
                :total-rows='total'
                :per-page='per_page'
                aria-controls='users'
                class="mt-2"
            ></b-pagination>
        </div>
    </div>
</template>

<script>
    import IndexPageHelper from '../../mixins/index_page_helper';

    export default {
      mixins: [IndexPageHelper],

      data() {
        return {
          filters: {
            page: 1,
            name: null,
            email: null,
            id: null,
          },
          users: [],
          total: null,
          per_page: null,
          isLoading: true,
        };
      },

      watch: {
        filters: {
          handler() {
            this.debouncedGetUsers();
          },
          deep: true,
        },
      },

      methods: {
        getUsers() {
          this.isLoading = true;
          const parameters = _.pickBy(this.filters, _.identity);

          axios.get(
            Router.route('acp.user.all', parameters),
          ).then(({ data }) => {
            this.users = data.data;
            this.total = data.total;
            this.per_page = data.per_page;
          }).catch(({ response: { data: { errors } } }) => {
            notify.error(_.head(errors));
          }).finally(() => {
            this.isLoading = false;
          });
        },
      },

      created() {
        this.getUsers();

        this.debouncedGetUsers = _.debounce(this.getUsers, 500);
      },
    };
</script>
