<template>
  <v-btn
    dark
    fab
    bottom
    right
    fixed
    color="#ff9419"
    @click="$router.push({ name: 'build-tour' });"
  >
    <i aria-hidden="true" class="v-icon material-icons theme--light">add</i>
  </v-btn>
</template>
