<template>
  <v-snackbar
    v-model="notification.show"
    :multi-line="true"
    :right="true"
    key="1"
    :timeout="notification.timeout"
    :color="notification.color"
    :top="true"
    class="notification-bar"
  >
    {{ notification.text }}
    <v-btn
      flat
      @click="notification.show = false"
    >
      {{ $t('common.words.close') }}
    </v-btn>
  </v-snackbar>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    computed: {
      ...mapGetters([
        'notification',
      ]),
    },
  };
</script>
