<template>
  <v-btn
    v-if="currentLocation"
    dark
    fab
    bottom
    fixed
    right
    color="pink"
    @click="showMyLocation"
  >
    <i aria-hidden="true" class="v-icon material-icons theme--light">person_pin</i>
  </v-btn>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    computed: {
      ...mapGetters([
        'isMobile',
        'currentLocation',
      ]),
    },

    methods: {
      showMyLocation() {
        this.$emit('showMyLocation');
      },
    },
  };
</script>
