<template>
  <v-dialog
    v-model="state"
    hide-overlay
    persistent
    width="300"
  >
    <v-card color="primary" dark>
      <v-card-text>
        {{ $t('common.phrases.wait_for_it') }}
        <v-progress-linear
          indeterminate
          color="white"
          class="mb-0"
        ></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: {
      state: {
        type: Boolean,
        required: true,
      },
    },
  };
</script>
