<template>
  <div class="tour-place" :class="[{'tour-place-photo': !this.isMobile}]">
    <div class="tour-place__title">
      {{ `${index}. ${place.title}` }}
    </div>
    <div v-if="place.vicinity" class="tour-place__text mb-2">
      <div v-if="place.type" class="place-item__info--text">
        <span tabindex="0" class="v-chip mb-2 theme--light default grey--text" style="margin: 0">
          <span class="v-chip__content">
            {{ $t(`components.build_tour.sidebar.places.types_options.${place.type}`) }}
          </span>
        </span>
      </div>
      <div class="place-item__info--text">
        {{ place.vicinity }}
      </div>
      <div class="place-item__info--text mt-1" v-if="place.website">
        <a :href="place.website" target="_blank">{{ place.website }}</a>
      </div>
      <template v-if="placeHasOpeningHours(place)">
        <div class="mt-1">
          <strong v-if="place.opening_hours.isOpen()">
            {{ $t('components.build_tour.sidebar.places.opening_hours.opened') }}
          </strong>
          <strong v-else>
            {{ $t('components.build_tour.sidebar.places.opening_hours.closed') }}
          </strong>
        </div>
        <div class="tour-place__actions mt-1">
          <v-btn v-if="!isOpeningHoursShown" @click.prevent="isOpeningHoursShown = true" block>
            {{ $t('components.build_tour.sidebar.places.opening_hours.show') }}
            <i class="v-icon material-icons theme--light">keyboard_arrow_down</i>
          </v-btn>
          <v-btn v-else @click.prevent="isOpeningHoursShown = false" block>
            {{ $t('components.build_tour.sidebar.places.opening_hours.hide') }}
            <i class="v-icon material-icons theme--light">keyboard_arrow_up</i>
          </v-btn>
        </div>
        <div class="tour-place__hours mt-1" v-if="isOpeningHoursShown">
          <span class="text-muted">{{ $t('components.build_tour.sidebar.places.working_hours') }}</span>
          <div v-for="(info, i) in place.opening_hours.weekday_text" :key="`working_hours_line_${i}`">
            {{ info }}
          </div>
        </div>
      </template>
    </div>
    <rating v-if="place.rating" class="tour-place__rating" :rate="place.rating"></rating>
    <div class="tour-place__actions" v-if="reviews.length">
      <v-btn v-if="!isCommentsShown" @click.prevent="isCommentsShown = true">
        {{ $t('components.build_tour.sidebar.places.comments.show') }}
        <i class="v-icon material-icons theme--light">keyboard_arrow_down</i>
      </v-btn>
      <v-btn v-else @click.prevent="isCommentsShown = false">
        {{ $t('components.build_tour.sidebar.places.comments.hide') }}
        <i class="v-icon material-icons theme--light">keyboard_arrow_up</i>
      </v-btn>
      <slot name="check-place"></slot>
    </div>
    <transition name="fade">
      <place-photos :photos="place.photos || []" :single-photo="isSinglePhoto" class="tour-place__photos" />
    </transition>
    <slot></slot>
    <div v-if="isCommentsShown" class="tour-place__comments mt-4">
      <v-list three-line expand flat>
        <template v-for="(review, i) in reviews">
          <v-list-tile :key="review.author_name" v-if="review.text" class="mt-3">
            <v-list-tile-avatar>
              <img :src="review.profile_photo_url">
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-sub-title v-html="review.author_name"></v-list-tile-sub-title>
              {{ review.text }}
              <rating
                v-if="review.rating"
                :rate="review.rating"
                style="margin-right: auto"
                class="tour-place__rating"
              ></rating>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </div>
  </div>
</template>

<script>
  import PlacePhotos from '../partials/PlacePhotos';
  import Rating from '../partials/Rating';
  import { mapGetters } from 'vuex';

  export default {
    components: {
      PlacePhotos,
      Rating,
    },

    props: {
      place: {
        type: Object,
        required: true,
      },

      index: {
        type: Number,
        required: true,
      },
    },

    data() {
      return {
        isCommentsShown: false,
        isOpeningHoursShown: false,
      };
    },

    computed: {
      isSinglePhoto() {
        const photos = this.place.photos;
        let isSinglePhoto = false;

        if (photos === undefined || photos.length === 0 || !this.isMobile) {
          isSinglePhoto = true;
        }

        return isSinglePhoto;
      },

      reviews() {
        return _.filter(this.place.reviews || [], (review) => {
          return review.text.length !== 0;
        });
      },

      ...mapGetters([
        'isMobile',
      ]),
    },

    methods: {
      placeHasOpeningHours(place) {
        return place.opening_hours && place.opening_hours.weekday_text;
      },
    },
  };
</script>
