<template>
  <div
    :id="`place-${place.id}`"
    class="place-item"
    :class="[{'place-item--no-photo': !bgImage}]">
    <div
      class="place-item__photo clickable"
      :style="`background-image: url(${bgImage})`"
      @click="$emit('preview', place, index)"
    >
    </div>
    <div class="place-item__title clickable" @click="$emit('preview', place, index)">
      {{ `${index}. ${place.title}` }}
    </div>
    <div class="place-item__info">
      <div v-if="place.type" class="place-item__info--text">
        <span tabindex="0" class="v-chip mb-2 theme--light default grey--text" style="margin: 0">
          <span class="v-chip__content">
            {{ $t(`components.build_tour.sidebar.places.types_options.${place.type}`) }}
          </span>
        </span>
      </div>
      <div class="place-item__info--text">
        {{ place.vicinity }}
      </div>
    </div>
    <rating class="place-item__rating" :rate="place.rating || 0"></rating>
    <div class="place-item__checkbox">
      <slot name="checkbox"></slot>
    </div>
    <div class="place-item__view">
      <slot name="view"></slot>
    </div>
  </div>
</template>

<script>
  import Rating from '../partials/Rating';

  export default {
    components: {
      Rating,
    },

    props: {
      place: {
        type: Object,
        required: true,
      },

      index: {
        type: Number,
        required: true,
      },
    },

    data() {
      return {
        maxPhotoSize: { maxWidth: 480 },
        defaultImgPath: '/assets/client/images/home/bg.png',
      };
    },

    computed: {
      bgImage() {
        return this.place.photos !== undefined && this.place.photos.length
          ? _.head(this.place.photos).getUrl(this.maxPhotoSize)
          : this.defaultImgPath;
      },
    },
  };
</script>
