<template>
  <div>
    <div
      v-if="singlePhoto"
      class="slider-img slider-img-single"
      :style="`background-image: url(${bgImage})`"
      @click="showGallery(0)"
    >
      <i aria-hidden="true" class="v-icon material-icons theme--dark slider-img-zoom">zoom_in</i>
      <div class="slider-img-hover"></div>
    </div>
    <div v-else>
      <swiper :options="swiperOption" class="slider-places">
        <!-- slides -->
        <swiper-slide
          v-for="(photo, i) in photos"
          :key="i"
        >
          <div
            :style="`background-image: url(${getPhotoUrl(photo)})`"
            class="slider-img"
            @click="showGallery(i)"
          >
            <i aria-hidden="true" class="v-icon material-icons theme--dark slider-img-zoom">zoom_in</i>
            <div class="slider-img-hover"></div>
          </div>
        </swiper-slide>
      </swiper>
      <v-btn v-show="photos.length > 1" fab dark small color="primary" class="swiper-button-prev" slot="button-prev">
        <i aria-hidden="true" class="v-icon material-icons theme--dark">keyboard_arrow_left</i>
      </v-btn>
      <v-btn v-show="photos.length > 1" fab dark small color="primary" class="swiper-button-next" slot="button-next">
        <i aria-hidden="true" class="v-icon material-icons theme--dark">keyboard_arrow_right</i>
      </v-btn>
    </div>
    <VueEasyLightbox
      :visible="visible"
      :imgs="galleryPhotos"
      :index="index"
      @hide="handleHide"
    ></VueEasyLightbox>
  </div>
</template>

<script>
  import VueEasyLightbox from 'vue-easy-lightbox';

  export default {
    components: {
      VueEasyLightbox,
    },

    props: {
      photos: {
        type: Array,
        required: true,
      },

      singlePhoto: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        maxPhotoSize: { maxWidth: 480 },
        defaultImgPath: '/assets/client/images/home/bg.png',
        swiperOption: {
          slidesPerView: 6,
          spaceBetween: 4,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          breakpoints: {
            480: {
              slidesPerView: 1,
            },
            550: {
              slidesPerView: 1,
            },
            767: {
              slidesPerView: 2,
            },
            991: {
              slidesPerView: 3,
            },
            1199: {
              slidesPerView: 4,
            },
          },
        },
        visible: false,
        index: 0,
      };
    },

    methods: {
      showGallery(index) {
        this.index = index;
        this.visible = true;
      },

      handleHide() {
        this.visible = false;
      },

      getPhotoUrl(photo) {
        return photo.getUrl(this.maxPhotoSize) || this.defaultImgPath;
      },
    },

    computed: {
      galleryPhotos() {
        return this.photos && this.photos.length
          ? this.photos.map((photo) => photo.getUrl())
          : [this.defaultImgPath];
      },

      bgImage() {
        return this.photos !== undefined && this.photos.length
          ? _.head(this.photos).getUrl(this.maxPhotoSize)
          : this.defaultImgPath;
      },
    },
  };
</script>
