<template>
  <div>
    <i
      v-for="i in 5"
      :key="i"
      :class="[{'text-orange': i <= rate}]"
      aria-hidden="true"
      class="v-icon material-icons theme--light"
    >
      {{ i <= rate ? 'star' : 'star_border' }}
    </i>
    <span v-if="rate > 0" class="grey--text">{{ (rate) }}</span>
  </div>
</template>

<script>
  export default {
    props: {
      rate: {
        type: Number,
        required: true,
      },
    },
  };
</script>
