<template>
  <div class="tour-preview" :id='wrapperId'>
    <div class="tour-preview__gallery">
      <v-carousel
        height="250"
        hide-delimiters
        v-model="activePaceIndex"
        :cycle="false"
      >
        <i
          aria-hidden="true"
          class="v-icon material-icons theme--light danger--bg delete-tour-icon"
          @click.prevent="deleteTour(tour)"
        >
          delete
        </i>
        <v-carousel-item
          v-for="(place, i) in places"
          :key="`gallery_place__${i}`"
          :src="tour.places_photos[place.id] || defaultImgPath"
          v-touch:swipe.left="swipePhoto('next')"
          v-touch:swipe.right="swipePhoto('prev')"
          @click="$router.push({ name: 'tour', params: { id: tour.id } })"
        >
          <div class="slider-img-label">
            {{ place.name }}
          </div>
        </v-carousel-item>
      </v-carousel>
    </div>
    <ul class="tour-preview__info">
      <li v-if="tour.city_name">
        <i aria-hidden="true" class="v-icon material-icons theme--dark" style="font-size: 28px;">place</i>
        <span>{{ $t('components.tour.my.info.where') }}</span>
        {{ tour.city_name }}
      </li>
      <li v-if="tour.date">
        <i aria-hidden="true" class="v-icon material-icons theme--dark" style="font-size: 28px;">today</i>
        <span>{{ $t('components.tour.my.info.when') }}</span>
        {{ tour.date }}
      </li>
      <li v-if="tour.time_start && tour.time_end">
        <i aria-hidden="true" class="v-icon material-icons theme--dark" style="font-size: 28px;">av_timer</i>
        <span>{{ $t('components.tour.my.info.time') }}</span>
        {{ tour.time_start }} - {{ tour.time_end }}
      </li>
      <li>
        <i aria-hidden="true" class="v-icon material-icons theme--light primary--text">
          {{ transportationModesMap[tour.transportation_type].icon }}
        </i>
        {{ $t(`common.transportation.${transportationModesMap[tour.transportation_type].key}`) }}
      </li>
    </ul>
    <div
      v-if="places.length"
      class="tour-preview__places"
    >
      <ul class="place-label__row">
        <li
          v-for="(place, i) in places"
          :key="`place__${i}`"
        >
          <a
            href="#"
            class="place-label"
            :class="[{'place-item--active': activePaceIndex === i}]"
            @click.prevent="setCurrentPlace(place, i)"
          >
            {{ place.name }}
          </a>
        </li>
      </ul>
    </div>
    <v-btn
      v-if="!hideBtn"
      :block="isMobile"
      :large="!isMobile"
      class="tour-preview__details"
      color="primary"
      @click="$router.push({ name: 'tour', params: { id: tour.id } })"
    >
      {{ $t('components.tour.my.see_details') }}
    </v-btn>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    props: {
      tour: {
        type: Object,
        require: true,
      },

      hideBtn: {
        type: Boolean,
        default: false,
      },
    },

    computed: {
      places() {
        return _.filter(this.tour.places, (place) => {
          return !place.is_home;
        });
      },

      ...mapGetters([
        'isMobile',
        'transportationModesMap',
      ]),
    },

    data() {
      return {
        activePaceIndex: 0,
        wrapperId: `tour_${this.tour.id}`,
        defaultImgPath: '/assets/client/images/home/bg.png',
      };
    },

    methods: {
      swipePhoto(to) {
        return (direction, event) => {
          $(document).ready(() => {
            $(`#${this.wrapperId} .v-carousel__${to} button`).trigger('click');
          });
        };
      },

      setCurrentPlace(place, index) {
        this.activePaceIndex = index;

        this.$emit('setActivePlace', place);
      },

      deleteTour() {
        confirmation.warning(() => {
          axios.delete(
            Router.route('api.tour.delete', { tour: this.tour.id }),
          ).then(({ data }) => {
            this.notifySuccess(
              this.$i18n.translate(
                'components.tour.messages.deleted',
                { tour: this.tour.city_name }
                )
            );

            this.$router.push({ name: 'my-tours' });

            this.$emit('tourDeleted', this.tour);
          }).catch(({ response: { data: { message } } }) => {
            this.notifyError(message);
          });
        });
      },

      ...mapActions([
        'notifySuccess',
        'notifyInfo',
        'notifyError',
      ]),
    },
  };
</script>
