.container-auth {
  width: 500px;
  max-width: 100%;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 0 30px 30px;

  &__top {
    background-color: #009ada;
    height: 40px;
    margin: 0 -31px 30px;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
  }

  &__buttons {
    text-align: center;
    margin-top: 20px;

    .v-btn {
      width: 250px;
      max-width: 100%;
      margin-top: 10px;
    }
  }

  .v-text-field input {
    padding-left: 8px;
    padding-right: 8px;
  }

  .v-label {
    left: 8px !important;
  }

  .v-input--checkbox {
    padding: 8px 6px;

    .v-messages {
      display: none;
    }

    .v-input__slot {
      margin: 0;
    }
  }

  @media (max-width: 767px) {
    box-shadow: none;
    padding: 0 15px;

    &__top {
      display: none;
    }
  }
}

.btn-social.v-btn {
  position: relative;
  text-transform: none;
  padding: 0 24px;
  color: #fff!important;

  .v-btn__content {
    justify-content: center;
    width: 100%;
  }

  svg,
  i {
    margin-right: 5px!important;
    width: 18px!important;
    text-align: center;
  }

  &.facebook {
    background-color: #5156b4!important;
  }

  &.google {
    background-color: #e33a3b!important;
  }
}
