.section-banner-home {
    position: relative;
    padding: 0;

    &__block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        z-index: 5;
        width: 100%;
        text-align: center;
        padding: 50px 0;
        pointer-events: none;

        .section-banner-heading {
            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.41);
            margin: 50px 0;
        }

        .v-btn {
            margin-top: 100px;
            pointer-events: auto;
        }

      .home-title {
        background-color: rgba(0,0,0,.38);
      }
    }

    @media (max-width: 575px) {
        .v-carousel__next, .v-carousel__prev {
            display: none;
        }
    }
}

.advantages-item {
    text-align: center;
    padding: 0 15px;

    &__img {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;

        img {

        }
    }

    &__title {
        font-size: 20px;
        color: $primary;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__text {

    }
}

.contact {

    &__text {
        margin-bottom: 30px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        &--icon {
            color: #fff;
            border-radius: 3px;
            background-color: $primary;
            width: 40px;
            height: 40px;
            font-size: 22px;
            margin-right: 20px;
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.section.content {
  font-size: larger;
  text-align: justify;

  .container {
    @media (min-width: 575px) {
      width: 60%;
      margin: auto;
    }
  }

  .homepage-phone-img {
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .homepage-phone-img img {
    max-width: 300px;
  }
}
