.section-profile {
  height: 100%;
  padding: 0;

  .section-title-wrapper {
    padding: 40px 0;
    background-color: rgba(249, 249, 249, .8);

    .section-title {
      margin-bottom: 0;
    }
  }

  &__img {
    height: calc(100% - 100px);

    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
    };
  }

  &__container.container {
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 160px 1fr auto;
    grid-template-rows: 100px 100px;
    grid-template-areas:
      'photo name edit-form'
      'photo tours edit';
    margin-top: -100px;
    height: 200px;
    grid-column-gap: 20px;
  }

  .profile__img {
    width: 160px;
    height: 160px;
    grid-area: photo;
    position: relative;

    .v-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }

    .upload-avatar {
      top: auto;
      bottom: 0;
    }
  }

  .profile__name {
    grid-area: name;
    align-self: center;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    padding-top: 15px;
  }

  .profile__tours {
    grid-area: tours;
    align-self: center;
    line-height: 32px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 40px;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: #009ADA;
      /*background-color: $primary;*/
    }
  }

  .profile__edit {
    grid-area: edit;
    align-self: center;
    position: relative;
  }

  .profile__edit-form-item {
    grid-area: edit-form;
    position: relative;
  }

  .profile__edit-form {
    position: absolute;
    min-width: 290px;
    right: 0;
    bottom: 15px;
    background-color: rgba(249, 249, 249, .9);
    padding: 20px;
    z-index: 2;
  }

  @media (max-width: 767px) {
    .section-title-wrapper {
      padding: 20px 0;
    }

    &__img {
      min-height: 480px;
    }

    &__container.container {
      grid-template-columns: 80px 1fr auto;
      grid-template-rows: 40px 60px;
      margin-top: -40px;
      height: 100px;
      grid-column-gap: 10px;
      position: relative;
    }

    .profile__img {
      width: 120px;
      height: 120px;
    }

    .profile__name {
      padding-top: 0;
      align-self: flex-end;
      margin-left: 50px;
    }

    .profile__tours {
      margin-bottom: 20px;
      margin-left: 50px;
    }

    .profile__edit {
      align-self: start;
      margin: -22px 0 0;
      font-size: 0;
      padding: 0;
      border-radius: 50%;
      min-width: 44px;

      i {
        font-size: 24px;
        margin: 0;
      }
    }

    .profile__edit-form-item {
      position: static;
    }

    .profile__edit-form {
      right: auto;
      left: calc(50% - 145px);
      bottom: 110px;
      background-color: rgba(249, 249, 249, .9);
    }
  }
}
