.section-tours {
  padding-top: 0;

  .section-title-wrapper {
    padding: 30px 0;
    background-color: #f9f9f9;
    margin-bottom: 30px;
  }

  .section-title {
    margin-bottom: 0;
  }
}

.pagination {
  text-align: center;
  margin-top: 30px;
}

.no-tours {
  text-align: center;
  font-size: x-large;
}
