.section-tour {
  padding: 0;
  min-height: 100%;
  $transition-d: .3s;
  $transition: all $transition-d;

  .tour-preview {
    padding-left: 0;
    padding-right: 0;
  }

  &__map {
    height: calc(100vh - 300px);
    min-height: 800px;
    position: relative;

    .vue-map-container {
      height: 100%;
      width: 100%;
      transition: $transition;
    }
  }

  &__heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .section-title-wrapper {
      background-color: rgba(#fff, .6);
      padding: 30px 0;

      .section-title {
        margin: 0;
      }
    }
  }

  &__place {

  }

  &__routes {
    padding: 40px 0 50px;
    background-color: #f9f9f9;

    .step-btn {
      height: 50px;
      width: 90%;
      top: -15px;
    }

    #directionsPanel {
      .adp-placemark {
        background-color: #009ada;
        color: #fff;
        padding: 0 10px;
        border: none;
      }

      table.adp-directions {
        tr {
          cursor: pointer;
          color: #009ada;

          &:hover {
            color: #153dda;
          }

          &.navigation-active-step {
            color: #8a2be2
          }
        }

      }

      @media (min-width: 767px) {
        width: 60%;
        margin: auto;
      }
    }

    .adp-directions {
      margin: auto;
    }

    @media (max-width: 767px) {
      padding: 30px 0;
    }
  }
}
