<template>
  <v-navigation-drawer
    v-model="drawer"
    clipped
    fixed
    app>
  </v-navigation-drawer>
</template>

<script>
  export default {
    mounted() {
      console.log('Component mounted.');
    },
  };
</script>
