<template>
  <v-footer
    color="primary"
  >
    <div class="white--text">
      &copy; {{ new Date().getFullYear() }} Wander<br>
      <span v-html="$t('common.footer_text')"></span>
    </div>
    <cookie-law
      :buttonText="$t('common.words.got_it')"
      theme="dark-lime"
      buttonClass="v-btn v-btn--large v-btn--router theme--light secondary"
    >
      <div slot="message" v-html="$t('common.messages.cookie_notification')"></div>
    </cookie-law>
  </v-footer>
</template>

<script>
  import CookieLaw from 'vue-cookie-law';

  export default {
    components: {
      CookieLaw,
    },
  };
</script>
