<template>
  <header class="header">
    <v-toolbar
      app
      fixed
      clipped-left
      color="white">
      <router-link :to="{ name: 'home' }" class="header-logo">
        <img src="/assets/client/images/logo/logo.svg" alt="Wander" class="header-logo__img">
        <img src="/assets/client/images/logo/logo-white.svg" alt="Wander" class="header-logo__img--w">
      </router-link>
      <ul :class="['header-menu', {'show': menuOpen}]">
        <li class="header-menu__item">
          <router-link :to="{ name: 'home' }">
            <i v-if="isMobile" aria-hidden="true" class="v-icon material-icons theme--light mr-2">home</i>
            <span>{{ $t('components.header.menu.home') }}</span>
          </router-link>
        </li>
        <li class="header-menu__item">
          <a href="#" @click.prevent.stop="changeLanguage(lang === 'en' ? 'ru' : 'en')">
            <i class="v-icon material-icons theme--light mr-2" style="display: inline">language</i>
            <span v-if="lang === 'en'">RU</span>
            <span v-if="lang === 'ru'">EN</span>
          </a>
        </li>
        <li class="header-menu__item">
          <router-link :to="{ name: 'home', hash: '#about'  }">
            <i v-if="isMobile" aria-hidden="true" class="v-icon material-icons theme--light mr-2">help_outline</i>
            <span>{{ $t('components.header.menu.about') }}</span>
          </router-link>
        </li>
        <li class="header-menu__item" v-if="isAuthenticated">
          <router-link :to="{ name: 'my-tours' }">
            <i v-if="isMobile" aria-hidden="true" class="v-icon material-icons theme--light mr-2">map</i>
            <span>{{ $t('components.header.menu.my_tours') }}</span>
          </router-link>
        </li>
        <li class="header-menu__item">
          <router-link :to="{ name: 'home', hash: '#contact'  }">
            <i v-if="isMobile" aria-hidden="true" class="v-icon material-icons theme--light mr-2">chat</i>
            <span>{{ $t('components.header.menu.contact_us') }}</span>
          </router-link>
        </li>
        <li class="header-menu__item" v-if="isMobile && $route.name !== 'build-tour'">
          <router-link :to="{ name: 'build-tour' }" slot="activator">
            <i aria-hidden="true" class="v-icon material-icons theme--light mr-2">library_add</i>
            <span>{{ $t('components.header.menu.build_tour') }}</span>
          </router-link>
        </li>
        <li class="header-menu__item" v-if="!isAuthenticated">
          <router-link :to="{ name: 'login' }">
            <i v-if="isMobile" aria-hidden="true" class="v-icon material-icons theme--light mr-2">perm_identity</i>
            <span>{{ $t('components.header.menu.login') }}</span>
          </router-link>
        </li>
        <li class="header-menu__item" v-if="isAuthenticated">
          <v-tooltip bottom v-if="!isMobile">
            <router-link :to="{ name: 'profile' }" slot="activator">
              <i v-if="isMobile" aria-hidden="true" class="v-icon material-icons theme--light mr-2">perm_identity</i>
              <span>{{ this.user.name }}</span>
            </router-link>
            <span>
              {{ $t('components.header.menu.profile') }}
            </span>
          </v-tooltip>
          <router-link :to="{ name: 'profile' }" slot="activator" v-else>
            <i v-if="isMobile" aria-hidden="true" class="v-icon material-icons theme--light mr-2">perm_identity</i>
            <span>{{ this.user.name }}</span>
          </router-link>
        </li>
        <li class="header-menu__item" v-if="isAuthenticated && user.is_admin">
          <router-link :to="{ name: 'add-user' }">
            <i v-if="isMobile" aria-hidden="true" class="v-icon material-icons theme--light mr-2">group_add</i>
            <span>{{ $t('components.header.menu.add_user') }}</span>
          </router-link>
        </li>
        <li class="header-menu__item" v-if="isAuthenticated">
          <a href="#">
            <v-tooltip bottom>
              <span slot="activator" @click="logoutAction" class="logout">
                <i aria-hidden="true" class="v-icon material-icons theme--light" :class="[{'mr-2': isMobile}]">exit_to_app</i>
                <span v-if="isMobile">{{ $t('components.header.menu.logout') }}</span>
              </span>
              <span v-if="!isMobile">{{ $t('components.header.menu.logout') }}</span>
            </v-tooltip>
          </a>
        </li>
      </ul>
      <v-btn
        v-if="$route.name !== 'build-tour'"
        color="secondary"
        class="header-btn"
        :to="{ name: 'build-tour' }"
      >
        {{ $t('components.header.menu.build_tour') }}
      </v-btn>
      <button
        :class="['header-toggle', {'active': menuOpen}]"
        @click="toggleMenu"
      >
        <span class="line"></span>
      </button>
    </v-toolbar>
  </header>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    data() {
      return {
        menuOpen: false,
      };
    },

    computed: {
      ...mapGetters([
        'isAuthenticated',
        'user',
        'lang',
        'isMobile',
      ]),
    },

    methods: {
      changeLanguage(language) {
        const onLangChanged = () => {
          this.$i18n.set(language);

          this.notifySuccess(this.$i18n.translate('common.messages.language_changed'));

          this.setLang(language);

          this.toggleMenu();
        };

        if (language && this.$i18n.locales().indexOf(language) !== -1) {
          if (this.user) {
            axios.patch(
              Router.route('api.user.language'),
              { language },
            ).then((response) => {
              this.setUser(response.data.user);

              onLangChanged();
            }).catch(({ response: { data: { errors }}}) => {
              this.notifyError(_.head(errors));
            });
          } else {
            onLangChanged();
          }
        }
      },

      toggleMenu() {
        this.menuOpen = !this.menuOpen;
      },

      logoutAction() {
        const logoutCallback = () => {
          this.notifySuccess(
            this.$i18n.translate(
              'components.header.messages.logout',
              { name: this.user.name }
            )
          );
          this.logout();
          this.$router.push({ name: 'home' });
        };

        axios.post(
          Router.route('api.auth.logout'),
          this.models
        ).then(() => {
          logoutCallback();
        }).catch(() => {
          logoutCallback();
        });
      },

      ...mapActions([
        'logout',
        'notifySuccess',
        'notifyError',
        'setLang',
        'setUser',
      ]),
    },

    created() {
      VueBus.$on('closeMenu', () => {
        this.menuOpen = false;
      });
    },
  };
</script>
