.sidebar {
    min-height: calc(100vh - 50px);
}

.vs__clear,
.vs__open-indicator {
    transform: scale(0.7) !important;
    cursor: pointer !important;
}

.vs__dropdown-toggle {
    min-height: 36px !important;
}

.daterangepicker.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
}

.daterangepicker.dropdown-menu .ranges {
    border: 0;
    box-shadow: none;
}

.daterangepicker.dropdown-menu .table-condensed tr > td,
.daterangepicker.dropdown-menu .table-condensed tr > th {
    min-width: 32px;
}

.vue-daterange-picker .reportrange-text {
    padding: 7px 10px !important;
}

.table-responsive td {
    min-width: 200px !important;
}

img.logo-admin {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: 25px;
}

.list-group-item .details, .summary {
    width: 70%;
}
