.section-create {
  $height: calc(100vh - 64px - 52px);
  $height-md: calc(100vh - 48px - 52px);
  $header-h: 64px;
  $header-h-md: 48px;
  $sidebar-w: 600px;
  $sidebar-w-lg: 430px;
  $transition-d: .1s;
  $transition: all $transition-d;

  padding: 0;
  position: relative;
  height: $height;
  overflow: auto;
  display: flex;
  align-items: flex-start;

  &__map {
    z-index: 3;
    overflow: hidden;
    position: sticky;
    flex-basis: 0;
    flex-grow: 1;
    top: 0;
    height: $height;

    .vue-map-container {
      height: 100%;
      width: 100%;
      transition: $transition;
    }
  }

  &__sidebar {
    width: 600px;
    background-color: #fff;
    position: relative;
    transition: $transition;
    z-index: 6;
    min-height: $height;

    .sidebar-toggler--wrapper {
      height: 0;
      position: sticky;
      top: 0;
      z-index: 20;
      display: none;
    }

    .sidebar-toggler {
      margin: 9px -50px 9px auto;
      transition: transform $transition-d;

      .v-btn__content {
        transition: transform $transition-d;

        .sidebar-open & {
          transform: rotateY(180deg);
        }
      }

      .v-btn__content .v-icon {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }

  &__place-preview {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    left: 600px;
    bottom: 52px;
    right: 0;
    z-index: 9;

    .place-backdrop {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
      display: none;
    }
  }

  @media (max-width: 1499px) {
    &__sidebar {
      width: 430px;
    }

    &__place-preview {
      padding: 15px;
      left: 430px;
    }
  }

  @media (max-width: 1199px) {
    &__place-preview {
      left: 0;
      top: 0;
      bottom: 0;
      overflow: auto;
      padding: 30px 15px;
      background-color: transparent;
      z-index: 1000;
      display: flex;
      align-items: flex-start;

      .place-backdrop {
        display: block;
      }
    }
  }

  @media (max-width: 959px) {
    height: $height-md;

    &__map {
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;

      .sidebar-open & {
        .vue-map-container {
          width: 120%;
        }
      }
    }

    &__sidebar {
      width: 360px;
      transform: translateX(-101%);

      .sidebar-open & {
        transform: translateX(0);
      }

      .sidebar-toggler--wrapper {
        display: flex;
      }

      .sidebar {
        overflow: auto;
        height: $height-md;
      }
    }
  }

  @media (max-width: 500px) {
    &__sidebar {
      width: 100%;

      .sidebar-toggler {
        transition: transform $transition-d, margin $transition-d;

        .sidebar-open & {
          margin-right: 16px;
        }
      }
    }
  }
}

.build-tour {
  .application--wrap {
    height: 100vh;

    .v-content {
      min-height: 1px;
      flex-basis: 0;
      flex-grow: 1;
    }

    .v-footer {
      flex: 0 0 52px!important;
    }
  }
}
