.sidebar {
  $paddingX: 50px;
  $paddingX-lg: 24px;
  $paddingX-xs: 16px;
  background-color: #fff;

  &__item {
    &--body,
    &--title {
      padding: 20px $paddingX;
    }

    &--title {
      background-color: rgb(249, 249, 249);
      text-align: center;
      box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: 57px;

      .section-title {
        font-size: 18px;
        margin: 0 30px 0 0;
      }

      .v-input {
        padding: 0;
        margin: 0;
        min-width: 1px;
        flex-basis: 0;
        flex-grow: 1;
        justify-content: flex-end;

        .v-input__slot {
          margin: 0!important;
        }

        .v-messages {
          display: none;
        }
      }
    }
  }

  &__actions {
    background-color: #fff;
    text-align: center;
    z-index: 3;
    position: sticky;
    bottom: 0;
    padding: 10px 0!important;
    margin-top: 10px;

    .v-btn {
      margin: 0;
    }
  }

  @media (max-width: 1499px) {
    &__item {
      &--body,
      &--title {
        padding: 20px $paddingX-lg;
      }

      &--title {
        .section-title {
          font-size: 18px;
        }
      }
    }
  }

  @media (max-width: 959px) {
    &__item {
      &--body,
      &--title {
        padding: 20px $paddingX-xs;
      }
    }
  }

  @media (max-width: 500px) {

    &__item {
      &--body,
      &--title {
        padding: 20px $paddingX-lg;
      }

      &--title {
        .v-label {
          font-size: 14px;
          padding-right: 43px;
          max-width: calc(100vw - 177px);
          line-height: 18px;
        }
      }
    }

    &__actions {
      background-color: #fff;
      text-align: center;
      z-index: 3;
      position: sticky;
      bottom: 0;
      padding-bottom: 10px!important;
      margin-top: 10px;

      .v-btn {
        margin: 0;
      }
    }
  }
}

.filters {
  &__form {
    .v-input {
      padding: 0;
      margin: 0;

      .v-input__slot {
        margin: 0!important;
      }

      .v-messages {
        min-height: auto;
      }

      &.v-input--slider .v-messages {
        margin-top: -10px
      }
    }

    .v-input__control {
      width: 100%!important;

      .v-radio {
        margin-right: 0;

        &:not(:last-child):not(:only-child) {
          margin-bottom: 2px;
        }

        .v-input--selection-controls__input {
          order: 2;
          margin-left: auto;
          margin-right: 0;
        }

        .v-label {
          line-height: 32px;

          .v-icon {
            vertical-align: top;
            margin: 4px 7px 4px 0;
          }
        }
      }
    }

    .form-item {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      & + .form-item {
        margin-top: 20px;
      }

      &__label {
        flex: 0 0 80px;
        width: 80px;
        min-width: 80px;
        padding: 0 10px;

        line-height: 32px;
        align-self: flex-start;
        font-weight: 500;
      }

      &__field {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 1px;
        padding: 0 10px;
      }
    }
  }

  &__label {
    //color: $primary;
    line-height: 32px;
    align-self: flex-start;
    font-weight: 500;
  }
}

.places {
  &__form {
    .v-input {
      padding: 0;
      margin: 0;

      .v-input__slot {
        margin: 0px;
      }

      .v-messages {
        min-height: auto;
      }
    }
  }

  &__field {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__label {
    display: flex;
    align-items: center;
    min-width: 60px;
    color: rgba(0,0,0,.7);
    margin-right: 20px;
    font-weight: 500;

    .v-select {
      margin-left: 20px;
    }
  }

  &__chips {
    margin: 0 -4px 20px;
  }

  &__list{
    &--count {
      text-align: right;
      font-size: 14px;
      color: rgb(140, 140, 140);
      line-height: 20px;
      margin-bottom: 3px;
    }

    &--actions {
      text-align: center;
      margin-top: 10px;

      .v-btn--floating.v-btn--small .v-icon {
        font-size: 30px;
      }
    }
  }
}

.place-item {
  display: grid;
  grid-template-columns: 170px 1fr auto;
  grid-template-areas:
    'photo title title'
    'photo info info'
    'photo rating checkbox';
  grid-column-gap: 20px;
  padding-right: 20px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgb(239, 239, 239);
  position: relative;

  &--no-photo {
    grid-template-areas:
      'title title'
      'info info'
      'rating checkbox'!important;
    grid-template-columns: 1fr auto!important;
    padding: 0 15px!important;
    grid-column-gap: 0!important;
  }

  &--active {
    border-color: #009ada54;
  }

  & + .place-item {
    margin-top: 20px;
  }

  &__photo {
    grid-area: photo;

    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
    };
  }

  &__title {
    grid-area: title;
    font-size: 18px;
    color: $primary;
    padding-top: 20px;
    padding-right: 25px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__info {
    grid-area: info;
    font-size: 14px;
    color: rgb(140, 140, 140);
    line-height: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(239, 239, 239);
    text-align: justify;

    &--text {
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 20px;
    }
  }

  &__rating {
    grid-area: rating;
    padding: 20px 0;
  }

  &__checkbox {
    grid-area: checkbox;
    align-self: center;

    .v-input {
      margin: 0;
      padding: 0;
      height: 24px;
    }

    .v-input__slot {
      margin: 0!important;
    }

    .v-input--selection-controls__input {
      margin: 0;
    }
  }

  &__view {
    position: absolute;
    right: 20px;
    top: 20px;

    .v-icon {
      border-radius: 50%;
      background-color: rgb(124, 124, 124);
      color: #fff!important;
      font-size: 18px;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;

      &.primary--bg {
        background-color: $primary;
      }

      &.danger--bg {
        background-color: $danger;
      }
    }
  }

  @media (max-width: 1499px) {
    grid-template-columns: 150px 1fr auto;
    grid-column-gap: 10px;
    padding-right: 10px;

    & + .place-item {
      margin-top: 10px;
    }

    &__title {
      font-size: 16px;
      padding-top: 10px;
    }

    &__info {
      padding-bottom: 10px;
    }

    &__rating {
      padding: 10px 0;

      .v-icon {
        font-size: 20px;
      }
    }

    &__checkbox {

    }

    &__view {
      right: 10px;
      top: 10px;
    }
  }

  @media (max-width: 424px) {
    grid-template-areas:
      'photo photo'
      'title title'
      'info info'
      'rating checkbox';
    grid-template-columns: 1fr auto;
    padding: 0 15px;

    &__photo {
      min-height: 150px;
      margin: 0 -15px;
    }
  }
}

.pac-container {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 15px;

  @media (max-width: 575px) {
    width: auto!important;
    left: 15px!important;
    right: 15px!important;
  }

  .pac-item {
    padding: 10px 0;
    cursor: pointer;

    .pac-icon {
      background: {
        size: 100%;
        position: center top;
        repeat: no-repeat;
        image: url("/images/marker_default.svg");
      };
    }
  }
}
