.place-preview {
  position: relative;
  z-index: 5;
  margin: auto;
  max-width: 100%;

  .tour-place {
    background-color: #fff;
    padding: 20px;
  }

  .close-place {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 3;
  }

  .reviewer-avatar {
    height: 40px;
    width: 40px;
  }

  @media (max-width: 1499px) {
    .tour-place {
      padding: 15px;
      max-width: 100%;
      width: 400px;
    }
  }

  @media (max-width: 1199px) {
    .close-place {
      font-size: 30px;
      color: #fff!important;
    }
  }

  @media (max-width: 480px) {
    .tour-place {
      &__photos {
        margin: -15px -15px 15px;

        .slider-places .slider-img {
          pointer-events: none;
        }
      }
    }
  }
}
